003.-shsfs-script-to-tts-generation-SHSFS.json
{
  "updatedAt": "2026-02-12T15:59:45.479Z",
  "createdAt": "2026-01-25T22:37:08.152Z",
  "id": "3vjhmzLK7dhnglARTF9m-",
  "name": "003. SHSFS Script to TTS Generation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "bb508e5f-5489-4ab8-9feb-86f8f3d4da6d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc-id",
              "name": "document_id",
              "value": "={{ $json.doc_id }}",
              "type": "string"
            },
            {
              "id": "vid-name",
              "name": "video_name",
              "value": "={{ $json.video_name }}",
              "type": "string"
            },
            {
              "id": "voice",
              "name": "voice_id",
              "value": "I3l9G0ww7jdDDZ7DbY0k",
              "type": "string"
            },
            {
              "id": "max-chars",
              "name": "max_chunk_chars",
              "value": 2950,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "653834e1-fd19-465c-8b74-03cff812cbaa",
      "name": "📝 EDIT THIS - Your Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        240
      ],
      "notes": "EDIT THESE VALUES:\n- document_id: The Google Doc ID from Workflow 0\n- video_name: Short name (must match Workflow A)\n- voice_id: ElevenLabs voice ID\n- max_chunk_chars: Maximum characters per TTS chunk (default 2900)"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.document_id }}"
      },
      "id": "61babd96-8a80-4149-81ba-2810e3e23472",
      "name": "Read Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        448,
        240
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fullText = $input.item.json.content;\nconst inputNode = $('📝 EDIT THIS - Your Input').item.json;\nconst videoName = inputNode.video_name;\nconst voiceId = inputNode.voice_id;\nconst maxChars = inputNode.max_chunk_chars;\n\n// Split by section headers: # **Section N: Title**\nconst sectionRegex = /# \\*\\*Section (\\d+): ([^*]+)\\*\\*/g;\nconst matches = [];\nlet match;\n\nwhile ((match = sectionRegex.exec(fullText)) !== null) {\n  matches.push({\n    index: match.index,\n    headerEnd: match.index + match[0].length,\n    number: parseInt(match[1]),\n    title: match[2].trim()\n  });\n}\n\nconst allChunks = [];\n\n// Process each section\nfor (let i = 0; i < matches.length; i++) {\n  const currentMatch = matches[i];\n  const sectionNum = currentMatch.number;\n  \n  // Get section content WITHOUT the header\n  const contentStart = currentMatch.headerEnd;\n  const contentEnd = i < matches.length - 1 ? matches[i + 1].index : fullText.length;\n  let sectionContent = fullText.substring(contentStart, contentEnd).trim();\n  \n  // Remove --- separators\n  sectionContent = sectionContent.replace(/\\n---\\s*$/, '').trim();\n  \n  // Split into sentences using a different approach - split then filter\n  // This regex splits on sentence-ending punctuation while keeping the punctuation\n  const sentences = sectionContent\n    .split(/(?<=[.!?][\"']?\\s)/)\n    .map(s => s.trim())\n    .filter(s => s.length > 0);\n  \n  // If no sentences found (no splits happened), treat whole section as one sentence\n  if (sentences.length === 0 && sectionContent.length > 0) {\n    sentences.push(sectionContent);\n  }\n  \n  // Chunk sentences without splitting them\n  let currentChunk = '';\n  let chunkNum = 1;\n  \n  for (const sentence of sentences) {\n    // If adding this sentence would exceed limit, save current chunk and start new one\n    if (currentChunk.length > 0 && (currentChunk.length + sentence.length + 1) > maxChars) {\n      // Save current chunk\n      const segmentNum = String(sectionNum).padStart(2, '0') + '-' + String(chunkNum).padStart(2, '0');\n      allChunks.push({\n        video_name: videoName,\n        segment_number: segmentNum,\n        filename: segmentNum,\n        text: currentChunk.trim(),\n        status: 'pending',\n        voice_id: voiceId,\n        char_count: currentChunk.trim().length\n      });\n      chunkNum++;\n      currentChunk = sentence;\n    } else {\n      // Add sentence to current chunk\n      currentChunk = currentChunk.length > 0 ? currentChunk + ' ' + sentence : sentence;\n    }\n  }\n  \n  // Don't forget the last chunk\n  if (currentChunk.trim().length > 0) {\n    const segmentNum = String(sectionNum).padStart(2, '0') + '-' + String(chunkNum).padStart(2, '0');\n    allChunks.push({\n      video_name: videoName,\n      segment_number: segmentNum,\n      filename: segmentNum,\n      text: currentChunk.trim(),\n      status: 'pending',\n      voice_id: voiceId,\n      char_count: currentChunk.trim().length\n    });\n  }\n}\n\nif (allChunks.length === 0) {\n  throw new Error('No chunks created. Check that the document has content.');\n}\n\nreturn allChunks.map(chunk => ({ json: chunk }));"
      },
      "id": "8ac16227-dd84-4ced-82f2-45c11b6b3232",
      "name": "Parse and Chunk for TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        496
      ],
      "notes": "Splits document into sections, removes headers, chunks at sentence boundaries (never mid-sentence), stays under max_chunk_chars"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 5685301,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=5685301"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_name": "={{ $json.video_name }}",
            "segment_number": "={{ $json.segment_number }}",
            "filename": "={{ $json.filename }}",
            "text": "={{ $json.text }}",
            "status": "={{ $json.status }}",
            "voice_id": "={{ $json.voice_id }}",
            "char_count": "={{ $json.char_count }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "segment_number",
              "displayName": "segment_number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "char_count",
              "displayName": "char_count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "75921ec4-43c0-44a3-84f5-76e4654eb037",
      "name": "Write to TTS Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        256
      ],
      "id": "85e28cc9-fea9-4e7d-a0a7-d3b693069c6f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "tts_status",
              "lookupValue": "ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "2ab651d8-cdde-4e63-8b06-9ac8195d332c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "6a2942e4-b6b6-4b0c-bf88-fb42a92beaf5",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        272
      ],
      "id": "df1cf0c8-e58c-4903-840a-24e4ccc877ba",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tts_status": "complete",
            "doc_id": "={{ $('Loop Over Items').item.json.doc_id }}"
          },
          "matchingColumns": [
            "doc_id"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_words",
              "displayName": "target_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "script_type",
              "displayName": "script_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reference_books",
              "displayName": "reference_books",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_id",
              "displayName": "doc_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doc_link",
              "displayName": "doc_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_completed",
              "displayName": "date_completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_status",
              "displayName": "image_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tts_status",
              "displayName": "tts_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        464
      ],
      "id": "988acc70-82df-478f-a229-7d6fa5ac1117",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 5685301,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=5685301"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "f9d9d621-69e6-489f-a245-3711079cb203",
      "name": "Read Pending Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1440,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all rows where status = 'pending'. Configure your spreadsheet ID and sheet name."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e7b1ae9-7165-40cb-b7da-d523a5165a04",
      "name": "Loop Over Segments",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1712,
        16
      ],
      "notes": "Processes one segment at a time to avoid rate limits"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://genaipro.vn/api/v1/labs/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice_id\": \"{{ $json.voice_id }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"stability\": 0.50,\n  \"similarity\": 0.75,\n  \"style\": 0.0,\n  \"speed\": 1.00,\n  \"use_speaker_boost\": true\n}",
        "options": {}
      },
      "id": "19244472-6229-4457-a476-110f83296d5e",
      "name": "Create TTS Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        256
      ],
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "notes": "Sends text to GenAIPro API. Voice: Nathaniel C (British calm). Adjust stability/speed for your style."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf0175ba-10db-43b1-a691-9015e2760fca",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "6d52c645-0c39-42ed-b218-6e02dfb0b132",
              "name": "video_name",
              "value": "={{ $('Loop Over Segments').item.json.video_name }}",
              "type": "string"
            },
            {
              "id": "212c7b1a-4c4a-46ad-8301-c67e22fa79eb",
              "name": "filename",
              "value": "={{ $('Loop Over Segments').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "6e090263-64d6-40bc-9f35-74eee6be057f",
              "name": "segment_number",
              "value": "={{ $('Loop Over Segments').item.json.segment_number }}",
              "type": "string"
            },
            {
              "id": "346e2617-dcbe-459d-95c9-a69644ad0fdd",
              "name": "row_number",
              "value": "={{ $('Loop Over Segments').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "54c421d7-b3eb-430e-8f31-4b143cb7e08e",
      "name": "Store Task Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        256
      ],
      "notes": "Preserves task_id and original row data for later use"
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "78e4caf0-9595-4a25-a77f-a9c889628e73",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        256
      ],
      "webhookId": "bb814f13-2f90-4a89-a3c8-5dbed1f8a2a6",
      "notes": "Initial wait before first status check. Adjust based on typical segment length."
    },
    {
      "parameters": {
        "url": "=https://genaipro.vn/api/v1/labs/task/{{ $('Store Task Info').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0a7ccad0-0596-4473-b212-af968ab0dba7",
      "name": "Check Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2448,
        256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "notes": "Polls GenAIPro API for task completion status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cccf44e-8b5c-4b42-aa70-eb64c17cb256",
              "name": "task_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "37089516-b151-45e1-8b32-7f4dd09a9b5c",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "025bab86-3ff9-4245-9062-1dd4f17377e1",
              "name": "result_url",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "0b7b2961-4982-4bfe-a591-9cd20b78ce6b",
              "name": "subtitle_url",
              "value": "={{ $json.subtitle }}",
              "type": "string"
            },
            {
              "id": "1a3164c1-16f8-4966-9ff4-7bfeee4edb4a",
              "name": "video_name",
              "value": "={{ $('Store Task Info').item.json.video_name }}",
              "type": "string"
            },
            {
              "id": "fdd38141-66a3-4fcd-b24b-d9f6d2585ac6",
              "name": "filename",
              "value": "={{ $('Store Task Info').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "d0845c1c-a74a-4f30-bc20-d830deaf51da",
              "name": "segment_number",
              "value": "={{ $('Store Task Info').item.json.segment_number }}",
              "type": "string"
            },
            {
              "id": "69f83640-e778-4287-8a7f-80d6421c7f1d",
              "name": "row_number",
              "value": "={{ $('Store Task Info').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4569f02-276e-4db7-a201-3a4b967d4e65",
      "name": "Merge Status Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        496
      ],
      "notes": "Combines API response with stored metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffd7920e-0ad5-4cb3-ad89-be2ded9a664e",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        496
      ],
      "notes": "Routes to download if complete, or back to wait if still processing"
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "f74e65df-b960-42e3-a8e3-137445bb7f2d",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        496
      ],
      "webhookId": "3c5b3f0e-4111-417f-bc21-2ea7969ac30a",
      "notes": "Waits before checking status again"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6c6043e6-1801-47d8-a5f2-b37aed3529b4",
      "name": "Preserve Data for Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        512
      ],
      "notes": "Keeps metadata intact during retry loop"
    },
    {
      "parameters": {
        "url": "={{ $json.result_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "11d150d2-a381-4599-a723-2db61a930ced",
      "name": "Download MP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        720
      ],
      "notes": "Downloads the generated audio file as binary"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Segments').item.json.video_name }}-{{ $('Merge Status Data').item.json.filename }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fUBx4OidpZFks9ETDDstXBSgNWKLxdjq",
          "mode": "list",
          "cachedResultName": "SHSFS Audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fUBx4OidpZFks9ETDDstXBSgNWKLxdjq"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "aa77e49c-a007-4e9e-92ca-15b1c508731b",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YccFrdj90ivdga5k",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads MP3 to your Google Drive folder. Set your destination folder ID."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 5685301,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=5685301"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Download MP3').item.json.row_number }}",
            "status": "completed",
            "timestamp": "={{ $now.setZone('America/New_York').format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_number",
              "displayName": "segment_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "char_count",
              "displayName": "char_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "de3d833e-44cb-42ba-a76b-9a8390c3f32f",
      "name": "Update Status to Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2032,
        688
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Marks the row as 'completed' in your spreadsheet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2544,
        16
      ],
      "id": "83210967-a780-4824-96e3-72e48816dabd",
      "name": "Limit"
    },
    {
      "parameters": {
        "reviewTemplateID": {
          "__rl": true,
          "value": "0pbYLkV95OuQEddY6sbo",
          "mode": "list",
          "cachedResultName": "Review SHSFS TTS (0pbYLkV95OuQEddY6sbo)"
        },
        "fields": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "additionalFields": {}
      },
      "type": "@gotohuman/n8n-nodes-gotohuman.gotoHuman",
      "typeVersion": 1,
      "position": [
        1136,
        272
      ],
      "id": "6e7f8921-2571-4ef5-93e6-3b23644292c8",
      "name": "Send review request and wait for response",
      "webhookId": "55da6014-6813-405f-993a-fac8974ca563",
      "credentials": {
        "gotoHumanApi": {
          "id": "k6aSUexXhKnj8VxO",
          "name": "gotoHuman account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        272
      ],
      "id": "fe273c36-7dda-4fd6-aeec-bedd376f4de1",
      "name": "Limit1"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 EDIT THIS - Your Input": {
      "main": [
        [
          {
            "node": "Read Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Doc": {
      "main": [
        [
          {
            "node": "Parse and Chunk for TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Chunk for TTS": {
      "main": [
        [
          {
            "node": "Write to TTS Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to TTS Spreadsheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 EDIT THIS - Your Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Segments": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Segments": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TTS Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create TTS Task": {
      "main": [
        [
          {
            "node": "Store Task Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Task Info": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Task Status": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Download MP3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preserve Data for Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data for Retry": {
      "main": [
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MP3": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Update Status to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Completed": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send review request and wait for response": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Send review request and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-23T18:00:00.035-05:00",
          "Readable date": "January 23rd 2026, 6:00:00 pm",
          "Readable time": "6:00:00 pm",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "23",
          "Hour": "18",
          "Minute": "00",
          "Second": "00",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "348cfbde-be1d-4fae-b2a8-11148f690509",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-25T22:37:08.248Z",
      "createdAt": "2026-01-25T22:37:08.248Z",
      "role": "workflow:owner",
      "workflowId": "3vjhmzLK7dhnglARTF9m-",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-01-25T21:33:40.980Z",
      "createdAt": "2026-01-25T21:33:40.980Z",
      "id": "3tXWj4bbeGdd4akG",
      "name": "SHSFS"
    }
  ]
}