003.-mpv-image-generation-(concurrent---sheet2-→-google-drive)-MPV.json
{
  "updatedAt": "2026-01-26T02:04:33.218Z",
  "createdAt": "2026-01-26T02:04:19.579Z",
  "id": "SAMX51jWxxHSxFCL8xibC",
  "name": "003. MPV Image Generation (CONCURRENT - Sheet2 → Google Drive)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "070376f4-b5ad-4da7-b163-e5511db8ea48",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        544,
        272
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1b_w9t8Bw8LxCyl2gBKkvjep8bx7MBztllRzUGERjhV4",
          "mode": "list",
          "cachedResultName": "MPV Image Generation 2025.12.30",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b_w9t8Bw8LxCyl2gBKkvjep8bx7MBztllRzUGERjhV4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2075116139,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b_w9t8Bw8LxCyl2gBKkvjep8bx7MBztllRzUGERjhV4/edit#gid=2075116139"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "0e389031-8060-4824-99f2-be56b10ee916",
      "name": "Read Pending Prompts (Sheet2)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        752,
        272
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all pending prompts from Sheet2"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "5e3b8d99-ff8c-4c64-aa7b-e5512d4a1e0c",
      "name": "Batch Prompts (10 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        160
      ],
      "notes": "Processes 10 prompts simultaneously (fal.ai concurrency limit)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/gpt-image-1.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"image_size\": \"1536x1024\",\n  \"num_images\": 1,\n  \"output_format\": \"png\",\n  \"quality\": \"low\",\n  \"background\": \"opaque\"\n}",
        "options": {}
      },
      "id": "b98de513-bbf3-4fed-84fa-fbd37c5c5183",
      "name": "Generate Image via fal.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "continueOnFail": true,
      "notes": "Generates image (~70 seconds) - runs 10 at once!"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-images-concurrent",
              "leftValue": "={{ $json.images[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6d9a91d-f21f-46ab-a0b1-eabb5da149cf",
      "name": "Generation Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        400
      ],
      "notes": "Checks if fal.ai returned an image"
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "908ea32e-e1eb-445d-8f90-1212d4471be1",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        160
      ],
      "notes": "Downloads the generated PNG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "preserve-filename",
              "name": "filename",
              "value": "={{ $('Batch Prompts (10 at a time)').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "preserve-row-number",
              "name": "row_number",
              "value": "={{ $('Batch Prompts (10 at a time)').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b261df59-433d-44b2-ae51-0fa7e13002d3",
      "name": "Preserve Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        160
      ],
      "notes": "Keeps original filename and row number with binary data"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1X5K8nqWgaErP_OaF8E2HffYfHvb8OS8F",
          "mode": "list",
          "cachedResultName": "MPV Images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1X5K8nqWgaErP_OaF8E2HffYfHvb8OS8F"
        },
        "options": {}
      },
      "id": "e46dfbaf-1b05-4112-bfcd-20582e87360f",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2080,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YccFrdj90ivdga5k",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads with correct filename"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1b_w9t8Bw8LxCyl2gBKkvjep8bx7MBztllRzUGERjhV4",
          "mode": "list",
          "cachedResultName": "MPV Image Generation 2025.12.30",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b_w9t8Bw8LxCyl2gBKkvjep8bx7MBztllRzUGERjhV4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2075116139,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PcvTpjL6R22V5kr2QXa4DROgI7p6vMj0gMr4ImlIiKY/edit#gid=2075116139"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "row_number": "={{ $('Read Pending Prompts (Sheet2)').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chapter_number",
              "displayName": "chapter_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_number",
              "displayName": "image_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "783eda43-6429-4201-9214-c57cd0b64492",
      "name": "Mark Prompt Complete (Sheet2)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2288,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Updates status in Sheet2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "4cd92617-d51e-4ffd-9106-788e4828d682",
      "name": "Delay Between Batches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        32
      ],
      "webhookId": "6d3e21cc-0095-43b7-aed3-3d1e45126581",
      "notes": "10 second pause between batches of 10"
    },
    {
      "parameters": {
        "content": "## Workflow 2: CONCURRENT Image Generation\n\n### What's Different:\n✨ Processes 10 images SIMULTANEOUSLY\n✨ 10x faster than sequential processing\n✨ Takes full advantage of fal.ai concurrency limit\n\n### Speed Comparison:\n- Sequential (old): 50 images = ~63 minutes\n- Concurrent (new): 50 images = ~7 minutes\n\n### How It Works:\n1. Reads all pending prompts from Sheet2\n2. Batches into groups of 10\n3. Submits all 10 to fal.ai at once\n4. All 10 generate in parallel (~70 sec)\n5. Downloads all 10 images\n6. Uploads all 10 to Drive\n7. Marks all 10 as complete\n8. Waits 10 seconds\n9. Next batch of 10\n\n### Requirements:\n- fal.ai concurrency limit: 10\n- Sheet2 columns: video_name, chapter_number, image_number, filename, prompt, status, row_number",
        "height": 500,
        "width": 460,
        "color": 4
      },
      "id": "a346d24a-e8d9-42d3-8523-ed25f6b89956",
      "name": "Concurrent Processing Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Prompts (Sheet2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Prompts (Sheet2)": {
      "main": [
        [
          {
            "node": "Batch Prompts (10 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Prompts (10 at a time)": {
      "main": [
        [
          {
            "node": "Delay Between Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image via fal.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image via fal.ai": {
      "main": [
        [
          {
            "node": "Generation Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Successful?": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Prompts (10 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Preserve Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Metadata": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Mark Prompt Complete (Sheet2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Prompt Complete (Sheet2)": {
      "main": [
        [
          {
            "node": "Batch Prompts (10 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2cc80f74-ad14-4ddf-a5d4-e6d8709d5e5b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T02:04:19.583Z",
      "createdAt": "2026-01-26T02:04:19.583Z",
      "role": "workflow:owner",
      "workflowId": "SAMX51jWxxHSxFCL8xibC",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-01-26T02:00:19.464Z",
      "createdAt": "2026-01-26T02:00:19.464Z",
      "id": "TpFsJjCc34mubRl4",
      "name": "MPV"
    }
  ]
}