004.-shsfs---genaipro-tts-workflow-SHSFS.json
{
  "updatedAt": "2026-02-02T22:49:01.516Z",
  "createdAt": "2026-01-25T22:37:50.632Z",
  "id": "_w7a0uplZN3RoMzIS4nUA",
  "name": "004. SHSFS - GenAIPro TTS Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e619f72a-8978-485d-aee5-d071df18ddc6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 5685301,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=5685301"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "79e5b7dd-41ec-4648-a7f2-e4542cbca62d",
      "name": "Read Pending Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        768,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all rows where status = 'pending'. Configure your spreadsheet ID and sheet name."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a8c4300e-c94d-4ab4-89e9-99a926de4dbf",
      "name": "Loop Over Segments",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        0
      ],
      "notes": "Processes one segment at a time to avoid rate limits"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://genaipro.vn/api/v1/labs/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice_id\": \"{{ $json.voice_id }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"stability\": 0.50,\n  \"similarity\": 0.75,\n  \"style\": 0.0,\n  \"speed\": 1.00,\n  \"use_speaker_boost\": true\n}",
        "options": {}
      },
      "id": "80e37bed-44b5-49fa-9a51-ed40ec50eab2",
      "name": "Create TTS Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        240
      ],
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "notes": "Sends text to GenAIPro API. Voice: Nathaniel C (British calm). Adjust stability/speed for your style."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf0175ba-10db-43b1-a691-9015e2760fca",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "6d52c645-0c39-42ed-b218-6e02dfb0b132",
              "name": "video_name",
              "value": "={{ $('Loop Over Segments').item.json.video_name }}",
              "type": "string"
            },
            {
              "id": "212c7b1a-4c4a-46ad-8301-c67e22fa79eb",
              "name": "filename",
              "value": "={{ $('Loop Over Segments').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "6e090263-64d6-40bc-9f35-74eee6be057f",
              "name": "segment_number",
              "value": "={{ $('Loop Over Segments').item.json.segment_number }}",
              "type": "string"
            },
            {
              "id": "346e2617-dcbe-459d-95c9-a69644ad0fdd",
              "name": "row_number",
              "value": "={{ $('Loop Over Segments').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "323553ab-5fe7-4b37-8d01-bf14f2e3e194",
      "name": "Store Task Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        240
      ],
      "notes": "Preserves task_id and original row data for later use"
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "7f6a9856-d6d2-4d18-8413-f3c851b90862",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        240
      ],
      "webhookId": "bb814f13-2f90-4a89-a3c8-5dbed1f8a2a6",
      "notes": "Initial wait before first status check. Adjust based on typical segment length."
    },
    {
      "parameters": {
        "url": "=https://genaipro.vn/api/v1/labs/task/{{ $('Store Task Info').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "984fd70e-9049-42b9-842c-f11677b9d7a3",
      "name": "Check Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "notes": "Polls GenAIPro API for task completion status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cccf44e-8b5c-4b42-aa70-eb64c17cb256",
              "name": "task_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "37089516-b151-45e1-8b32-7f4dd09a9b5c",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "025bab86-3ff9-4245-9062-1dd4f17377e1",
              "name": "result_url",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "0b7b2961-4982-4bfe-a591-9cd20b78ce6b",
              "name": "subtitle_url",
              "value": "={{ $json.subtitle }}",
              "type": "string"
            },
            {
              "id": "1a3164c1-16f8-4966-9ff4-7bfeee4edb4a",
              "name": "video_name",
              "value": "={{ $('Store Task Info').item.json.video_name }}",
              "type": "string"
            },
            {
              "id": "fdd38141-66a3-4fcd-b24b-d9f6d2585ac6",
              "name": "filename",
              "value": "={{ $('Store Task Info').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "d0845c1c-a74a-4f30-bc20-d830deaf51da",
              "name": "segment_number",
              "value": "={{ $('Store Task Info').item.json.segment_number }}",
              "type": "string"
            },
            {
              "id": "69f83640-e778-4287-8a7f-80d6421c7f1d",
              "name": "row_number",
              "value": "={{ $('Store Task Info').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2aa8bd00-ac04-4b96-9a8c-39e9baf5ca24",
      "name": "Merge Status Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        480
      ],
      "notes": "Combines API response with stored metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "36c7e9a8-0b45-4d74-9fed-4e0325547ef5",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        480
      ],
      "notes": "Routes to download if complete, or back to wait if still processing"
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "38030f21-4170-4f16-8e12-71d565d6c39d",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        480
      ],
      "webhookId": "3c5b3f0e-4111-417f-bc21-2ea7969ac30a",
      "notes": "Waits before checking status again"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d800a006-4d97-4886-8ba0-ba0129d9d1a0",
      "name": "Preserve Data for Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        496
      ],
      "notes": "Keeps metadata intact during retry loop"
    },
    {
      "parameters": {
        "url": "={{ $json.result_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "e890d70c-f718-4f13-ac5a-3561e1c264e4",
      "name": "Download MP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        704
      ],
      "notes": "Downloads the generated audio file as binary"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Segments').item.json.video_name }}-{{ $('Merge Status Data').item.json.filename }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1fUBx4OidpZFks9ETDDstXBSgNWKLxdjq",
          "mode": "list",
          "cachedResultName": "SHSFS Audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fUBx4OidpZFks9ETDDstXBSgNWKLxdjq"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "8e6f58f3-02c0-4b85-b41a-813ae2075940",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        688
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YccFrdj90ivdga5k",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads MP3 to your Google Drive folder. Set your destination folder ID."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI",
          "mode": "list",
          "cachedResultName": "SHSFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 5685301,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wNk9TcHaypPm6ky-MeeYTDy0yGajhLbRqNC1Sh2noSI/edit#gid=5685301"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Download MP3').item.json.row_number }}",
            "status": "completed",
            "timestamp": "={{ $now.setZone('America/New_York').format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_number",
              "displayName": "segment_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "char_count",
              "displayName": "char_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fa430e12-edf1-43c3-a5d6-b3be2d4507b1",
      "name": "Update Status to Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        896,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Marks the row as 'completed' in your spreadsheet"
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "000daf92-b561-4d55-bf3f-e169f85863bd",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2976,
        1632
      ],
      "webhookId": "730e3823-e225-4963-b5fa-68173e44f541",
      "notes": "Brief pause between segments to avoid rate limits"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1408,
        0
      ],
      "id": "6c233e73-7e66-410d-bf65-1619bd63cdd3",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        256
      ],
      "id": "86f3e2a3-3412-4f9c-81f3-342d88245015",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Segments": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Segments": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TTS Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create TTS Task": {
      "main": [
        [
          {
            "node": "Store Task Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Task Info": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Task Status": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Download MP3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preserve Data for Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data for Retry": {
      "main": [
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MP3": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Update Status to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Completed": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fa6dd0f9-ce2c-45af-9ad8-e8fd8df69507",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-25T22:37:50.638Z",
      "createdAt": "2026-01-25T22:37:50.638Z",
      "role": "workflow:owner",
      "workflowId": "_w7a0uplZN3RoMzIS4nUA",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-01-25T21:33:40.980Z",
      "createdAt": "2026-01-25T21:33:40.980Z",
      "id": "3tXWj4bbeGdd4akG",
      "name": "SHSFS"
    }
  ]
}