004.-scripture-for-sleep---genaipro-tts-workflow-SFS.json
{
  "updatedAt": "2026-02-04T01:56:10.591Z",
  "createdAt": "2026-01-26T00:25:39.261Z",
  "id": "C958wKQ13rICFNT4flkF-",
  "name": "004. Scripture for Sleep - GenAIPro TTS Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a290a3ac-a58c-46d5-bff9-6320fa7bfda6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
          "mode": "list",
          "cachedResultName": "SFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1009224671,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1009224671"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "5ff4f633-1743-4ab0-8fcd-2dc8c7e45d4b",
      "name": "Read Pending Segments",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all rows where status = 'pending'. Configure your spreadsheet ID and sheet name."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b09eeff5-9976-4689-b8ca-2f7c15c492a2",
      "name": "Loop Over Segments",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "notes": "Processes one segment at a time to avoid rate limits"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://genaipro.vn/api/v1/labs/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice_id\": \"AeRdCCKzvd23BpJoofzx\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"stability\": 0.50,\n  \"similarity\": 0.75,\n  \"style\": 0.0,\n  \"speed\": 1.00,\n  \"use_speaker_boost\": true\n}",
        "options": {}
      },
      "id": "dfcbc9b4-03ae-48a6-a2ae-39dc8d89c807",
      "name": "Create TTS Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        240
      ],
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "notes": "Sends text to GenAIPro API. Voice: Nathaniel C (British calm). Adjust stability/speed for your style."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf0175ba-10db-43b1-a691-9015e2760fca",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "6d52c645-0c39-42ed-b218-6e02dfb0b132",
              "name": "video_name",
              "value": "={{ $('Loop Over Segments').item.json.video_name }}",
              "type": "string"
            },
            {
              "id": "212c7b1a-4c4a-46ad-8301-c67e22fa79eb",
              "name": "filename",
              "value": "={{ $('Loop Over Segments').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "6e090263-64d6-40bc-9f35-74eee6be057f",
              "name": "segment_number",
              "value": "={{ $('Loop Over Segments').item.json.segment_number }}",
              "type": "string"
            },
            {
              "id": "346e2617-dcbe-459d-95c9-a69644ad0fdd",
              "name": "row_number",
              "value": "={{ $('Loop Over Segments').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ffd94975-98b8-4169-933a-4a0a312c32c1",
      "name": "Store Task Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        240
      ],
      "notes": "Preserves task_id and original row data for later use"
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "ec4076a3-6af2-4ca3-aeac-23bf2b20a176",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        240
      ],
      "webhookId": "e67db01e-57ca-4f73-a3ce-0795b2fe994f",
      "notes": "Initial wait before first status check. Adjust based on typical segment length."
    },
    {
      "parameters": {
        "url": "=https://genaipro.vn/api/v1/labs/task/{{ $('Store Task Info').item.json.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "4ad7c982-7549-41fb-a461-3c9fd2d7feef",
      "name": "Check Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "qh7wXpPCIXnZmiDW",
          "name": "GenAIPro Auth"
        }
      },
      "notes": "Polls GenAIPro API for task completion status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cccf44e-8b5c-4b42-aa70-eb64c17cb256",
              "name": "task_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "37089516-b151-45e1-8b32-7f4dd09a9b5c",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "025bab86-3ff9-4245-9062-1dd4f17377e1",
              "name": "result_url",
              "value": "={{ $json.result }}",
              "type": "string"
            },
            {
              "id": "0b7b2961-4982-4bfe-a591-9cd20b78ce6b",
              "name": "subtitle_url",
              "value": "={{ $json.subtitle }}",
              "type": "string"
            },
            {
              "id": "1a3164c1-16f8-4966-9ff4-7bfeee4edb4a",
              "name": "video_name",
              "value": "={{ $('Store Task Info').item.json.video_name }}",
              "type": "string"
            },
            {
              "id": "fdd38141-66a3-4fcd-b24b-d9f6d2585ac6",
              "name": "filename",
              "value": "={{ $('Store Task Info').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "d0845c1c-a74a-4f30-bc20-d830deaf51da",
              "name": "segment_number",
              "value": "={{ $('Store Task Info').item.json.segment_number }}",
              "type": "string"
            },
            {
              "id": "69f83640-e778-4287-8a7f-80d6421c7f1d",
              "name": "row_number",
              "value": "={{ $('Store Task Info').item.json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1d76606e-eae6-4ac0-b897-65d45617fe61",
      "name": "Merge Status Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        480
      ],
      "notes": "Combines API response with stored metadata"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "afb620f7-55b8-457d-b25a-a752f7d72040",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        480
      ],
      "notes": "Routes to download if complete, or back to wait if still processing"
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "1428ac41-7686-4d38-85ee-313a905568e2",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        480
      ],
      "webhookId": "723ce787-b835-4a5e-84a1-9d9d2855f1ce",
      "notes": "Waits before checking status again"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6b27ba37-00cf-42df-980c-054971de87f7",
      "name": "Preserve Data for Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        480
      ],
      "notes": "Keeps metadata intact during retry loop"
    },
    {
      "parameters": {
        "url": "={{ $json.result_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "24a2f1e4-a794-409b-a0c6-2074b25906a7",
      "name": "Download MP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        704
      ],
      "notes": "Downloads the generated audio file as binary"
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Segments').item.json.video_name }}-{{ $('Merge Status Data').item.json.filename }}.mp3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GUIYj77F034nwMcHiBNNezm8NGk2UmDS",
          "mode": "list",
          "cachedResultName": "SFS Audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GUIYj77F034nwMcHiBNNezm8NGk2UmDS"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "7f1a79e0-adbf-4b9c-bef9-c512c22a8989",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YccFrdj90ivdga5k",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads MP3 to your Google Drive folder. Set your destination folder ID."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
          "mode": "list",
          "cachedResultName": "SFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1009224671,
          "mode": "list",
          "cachedResultName": "TTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1009224671"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Download MP3').item.json.row_number }}",
            "status": "completed",
            "timestamp": "={{ $now.setZone('America/New_York').format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "segment_number",
              "displayName": "segment_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voice_id",
              "displayName": "voice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "char_count",
              "displayName": "char_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "86a0be07-e717-4ef4-bc3d-b844c018108a",
      "name": "Update Status to Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        768,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Marks the row as 'completed' in your spreadsheet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "5827cfbb-2fbf-44c0-8596-1f89dcc9160b",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        224
      ],
      "id": "d70112b8-671a-4982-a764-edbe04e09f08",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "path": "a60789f3-634c-4b6b-b55e-d3bdabadbefb",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        96
      ],
      "id": "1323396b-b7b6-4baf-a0ca-95ce018b982f",
      "name": "Webhook",
      "webhookId": "a60789f3-634c-4b6b-b55e-d3bdabadbefb"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Segments": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Segments": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create TTS Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create TTS Task": {
      "main": [
        [
          {
            "node": "Store Task Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Task Info": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Task Status": {
      "main": [
        [
          {
            "node": "Merge Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Status Data": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Download MP3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preserve Data for Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Data for Retry": {
      "main": [
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MP3": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Update Status to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Completed": {
      "main": [
        [
          {
            "node": "Loop Over Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Pending Segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "137a8066-9ad0-487c-952d-0bff3287f524",
  "activeVersionId": "137a8066-9ad0-487c-952d-0bff3287f524",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-26T00:25:39.270Z",
      "createdAt": "2026-01-26T00:25:39.270Z",
      "role": "workflow:owner",
      "workflowId": "C958wKQ13rICFNT4flkF-",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-04T01:56:15.000Z",
    "createdAt": "2026-02-04T01:56:10.593Z",
    "versionId": "137a8066-9ad0-487c-952d-0bff3287f524",
    "workflowId": "C958wKQ13rICFNT4flkF-",
    "nodes": [
      {
        "parameters": {},
        "id": "a290a3ac-a58c-46d5-bff9-6320fa7bfda6",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
            "mode": "list",
            "cachedResultName": "SFS Topic Input Sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1009224671,
            "mode": "list",
            "cachedResultName": "TTS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1009224671"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "pending"
              }
            ]
          },
          "options": {}
        },
        "id": "5ff4f633-1743-4ab0-8fcd-2dc8c7e45d4b",
        "name": "Read Pending Segments",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          480,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "1XqTJPtDuzHpqQbs",
            "name": "Google Sheets account"
          }
        },
        "notes": "Reads all rows where status = 'pending'. Configure your spreadsheet ID and sheet name."
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b09eeff5-9976-4689-b8ca-2f7c15c492a2",
        "name": "Loop Over Segments",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          704,
          0
        ],
        "notes": "Processes one segment at a time to avoid rate limits"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://genaipro.vn/api/v1/labs/task",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"input\": {{ JSON.stringify($json.text) }},\n  \"voice_id\": \"AeRdCCKzvd23BpJoofzx\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"stability\": 0.50,\n  \"similarity\": 0.75,\n  \"style\": 0.0,\n  \"speed\": 1.00,\n  \"use_speaker_boost\": true\n}",
          "options": {}
        },
        "id": "dfcbc9b4-03ae-48a6-a2ae-39dc8d89c807",
        "name": "Create TTS Task",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          256,
          240
        ],
        "retryOnFail": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "qh7wXpPCIXnZmiDW",
            "name": "GenAIPro Auth"
          }
        },
        "notes": "Sends text to GenAIPro API. Voice: Nathaniel C (British calm). Adjust stability/speed for your style."
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cf0175ba-10db-43b1-a691-9015e2760fca",
                "name": "task_id",
                "value": "={{ $json.task_id }}",
                "type": "string"
              },
              {
                "id": "6d52c645-0c39-42ed-b218-6e02dfb0b132",
                "name": "video_name",
                "value": "={{ $('Loop Over Segments').item.json.video_name }}",
                "type": "string"
              },
              {
                "id": "212c7b1a-4c4a-46ad-8301-c67e22fa79eb",
                "name": "filename",
                "value": "={{ $('Loop Over Segments').item.json.filename }}",
                "type": "string"
              },
              {
                "id": "6e090263-64d6-40bc-9f35-74eee6be057f",
                "name": "segment_number",
                "value": "={{ $('Loop Over Segments').item.json.segment_number }}",
                "type": "string"
              },
              {
                "id": "346e2617-dcbe-459d-95c9-a69644ad0fdd",
                "name": "row_number",
                "value": "={{ $('Loop Over Segments').item.json.row_number }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ffd94975-98b8-4169-933a-4a0a312c32c1",
        "name": "Store Task Info",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          480,
          240
        ],
        "notes": "Preserves task_id and original row data for later use"
      },
      {
        "parameters": {
          "amount": 15
        },
        "id": "ec4076a3-6af2-4ca3-aeac-23bf2b20a176",
        "name": "Wait for Processing",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          736,
          240
        ],
        "webhookId": "e67db01e-57ca-4f73-a3ce-0795b2fe994f",
        "notes": "Initial wait before first status check. Adjust based on typical segment length."
      },
      {
        "parameters": {
          "url": "=https://genaipro.vn/api/v1/labs/task/{{ $('Store Task Info').item.json.task_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "id": "4ad7c982-7549-41fb-a461-3c9fd2d7feef",
        "name": "Check Task Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1008,
          240
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "qh7wXpPCIXnZmiDW",
            "name": "GenAIPro Auth"
          }
        },
        "notes": "Polls GenAIPro API for task completion status"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8cccf44e-8b5c-4b42-aa70-eb64c17cb256",
                "name": "task_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "37089516-b151-45e1-8b32-7f4dd09a9b5c",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "025bab86-3ff9-4245-9062-1dd4f17377e1",
                "name": "result_url",
                "value": "={{ $json.result }}",
                "type": "string"
              },
              {
                "id": "0b7b2961-4982-4bfe-a591-9cd20b78ce6b",
                "name": "subtitle_url",
                "value": "={{ $json.subtitle }}",
                "type": "string"
              },
              {
                "id": "1a3164c1-16f8-4966-9ff4-7bfeee4edb4a",
                "name": "video_name",
                "value": "={{ $('Store Task Info').item.json.video_name }}",
                "type": "string"
              },
              {
                "id": "fdd38141-66a3-4fcd-b24b-d9f6d2585ac6",
                "name": "filename",
                "value": "={{ $('Store Task Info').item.json.filename }}",
                "type": "string"
              },
              {
                "id": "d0845c1c-a74a-4f30-bc20-d830deaf51da",
                "name": "segment_number",
                "value": "={{ $('Store Task Info').item.json.segment_number }}",
                "type": "string"
              },
              {
                "id": "69f83640-e778-4287-8a7f-80d6421c7f1d",
                "name": "row_number",
                "value": "={{ $('Store Task Info').item.json.row_number }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "1d76606e-eae6-4ac0-b897-65d45617fe61",
        "name": "Merge Status Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          480
        ],
        "notes": "Combines API response with stored metadata"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "condition-completed",
                "leftValue": "={{ $json.status }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "afb620f7-55b8-457d-b25a-a752f7d72040",
        "name": "Is Completed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          480
        ],
        "notes": "Routes to download if complete, or back to wait if still processing"
      },
      {
        "parameters": {
          "amount": 30
        },
        "id": "1428ac41-7686-4d38-85ee-313a905568e2",
        "name": "Wait & Retry",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          992,
          480
        ],
        "webhookId": "723ce787-b835-4a5e-84a1-9d9d2855f1ce",
        "notes": "Waits before checking status again"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "6b27ba37-00cf-42df-980c-054971de87f7",
        "name": "Preserve Data for Retry",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          752,
          480
        ],
        "notes": "Keeps metadata intact during retry loop"
      },
      {
        "parameters": {
          "url": "={{ $json.result_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "24a2f1e4-a794-409b-a0c6-2074b25906a7",
        "name": "Download MP3",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          704
        ],
        "notes": "Downloads the generated audio file as binary"
      },
      {
        "parameters": {
          "name": "={{ $('Loop Over Segments').item.json.video_name }}-{{ $('Merge Status Data').item.json.filename }}.mp3",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1GUIYj77F034nwMcHiBNNezm8NGk2UmDS",
            "mode": "list",
            "cachedResultName": "SFS Audio",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GUIYj77F034nwMcHiBNNezm8NGk2UmDS"
          },
          "options": {
            "simplifyOutput": true
          }
        },
        "id": "7f1a79e0-adbf-4b9c-bef9-c512c22a8989",
        "name": "Upload to Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          496,
          704
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "YccFrdj90ivdga5k",
            "name": "Google Drive account"
          }
        },
        "notes": "Uploads MP3 to your Google Drive folder. Set your destination folder ID."
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
            "mode": "list",
            "cachedResultName": "SFS Topic Input Sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1009224671,
            "mode": "list",
            "cachedResultName": "TTS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1009224671"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $('Download MP3').item.json.row_number }}",
              "status": "completed",
              "timestamp": "={{ $now.setZone('America/New_York').format('yyyy-MM-dd HH:mm:ss') }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "video_name",
                "displayName": "video_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "segment_number",
                "displayName": "segment_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "voice_id",
                "displayName": "voice_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "char_count",
                "displayName": "char_count",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "86a0be07-e717-4ef4-bc3d-b844c018108a",
        "name": "Update Status to Completed",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          768,
          704
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "1XqTJPtDuzHpqQbs",
            "name": "Google Sheets account"
          }
        },
        "notes": "Marks the row as 'completed' in your spreadsheet"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          912,
          0
        ],
        "id": "5827cfbb-2fbf-44c0-8596-1f89dcc9160b",
        "name": "Limit"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 4
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -32,
          224
        ],
        "id": "d70112b8-671a-4982-a764-edbe04e09f08",
        "name": "Schedule Trigger",
        "disabled": true
      },
      {
        "parameters": {
          "path": "a60789f3-634c-4b6b-b55e-d3bdabadbefb",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -176,
          96
        ],
        "id": "1323396b-b7b6-4baf-a0ca-95ce018b982f",
        "name": "Webhook",
        "webhookId": "a60789f3-634c-4b6b-b55e-d3bdabadbefb"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Read Pending Segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Pending Segments": {
        "main": [
          [
            {
              "node": "Loop Over Segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Segments": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create TTS Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create TTS Task": {
        "main": [
          [
            {
              "node": "Store Task Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Task Info": {
        "main": [
          [
            {
              "node": "Wait for Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait for Processing": {
        "main": [
          [
            {
              "node": "Check Task Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Task Status": {
        "main": [
          [
            {
              "node": "Merge Status Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Status Data": {
        "main": [
          [
            {
              "node": "Is Completed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Completed?": {
        "main": [
          [
            {
              "node": "Download MP3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Preserve Data for Retry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve Data for Retry": {
        "main": [
          [
            {
              "node": "Wait & Retry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait & Retry": {
        "main": [
          [
            {
              "node": "Check Task Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download MP3": {
        "main": [
          [
            {
              "node": "Upload to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Google Drive": {
        "main": [
          [
            {
              "node": "Update Status to Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status to Completed": {
        "main": [
          [
            {
              "node": "Loop Over Segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          []
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Pending Segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Read Pending Segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ShaRhanda Lawson",
    "name": "Version 137a8066",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-01-25T23:18:23.477Z",
      "createdAt": "2026-01-25T23:18:23.477Z",
      "id": "EYwjzgLoghqZQ2Du",
      "name": "SFS"
    }
  ]
}