005.-sfs-image-generation-(concurrent---sheet2-→-google-drive)-SFS.json
{
  "updatedAt": "2026-02-10T04:06:22.680Z",
  "createdAt": "2026-01-26T00:27:28.921Z",
  "id": "7eTLolS3Xq87upqhzzL2C",
  "name": "005. SFS Image Generation (CONCURRENT - Sheet2 → Google Drive)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ef99a0c1-bc0b-47b0-abb9-634f00a9bfd3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
          "mode": "list",
          "cachedResultName": "SFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1502887379,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1502887379"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "id": "3a42202a-e548-4c16-a4e1-ddae92ea2acf",
      "name": "Read Pending Prompts (Sheet2)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -880,
        112
      ],
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Reads all pending prompts from Sheet2"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "4e72c675-054b-44c9-bf07-981a65f6cb9d",
      "name": "Batch Prompts (10 at a time)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -656,
        112
      ],
      "notes": "Processes 10 prompts simultaneously (fal.ai concurrency limit)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/gpt-image-1.5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"image_size\": \"1536x1024\",\n  \"num_images\": 1,\n  \"output_format\": \"png\",\n  \"quality\": \"low\"\n}",
        "options": {}
      },
      "id": "4a93cd93-2a93-4bbf-b2a1-a23abc81c57d",
      "name": "Generate Image via fal.ai",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "z9A4PGMllFQCcjr1",
          "name": "Fal.ai Auth"
        }
      },
      "continueOnFail": true,
      "notes": "Generates image (~70 seconds) - runs 10 at once!"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-images-concurrent",
              "leftValue": "={{ $json.images[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "24d101d9-87be-44c1-8ef0-0737d1459928",
      "name": "Generation Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        112
      ],
      "notes": "Checks if fal.ai returned an image"
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f20a8b16-0db3-4799-94cb-e89524ca7aa6",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "notes": "Downloads the generated PNG"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "preserve-filename",
              "name": "filename",
              "value": "={{ $('Batch Prompts (10 at a time)').item.json.filename }}",
              "type": "string"
            },
            {
              "id": "preserve-row-number",
              "name": "row_number",
              "value": "={{ $('Batch Prompts (10 at a time)').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "36846592-fa9c-4bda-8adb-abcb259be9e7",
      "name": "Preserve Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "notes": "Keeps original filename and row number with binary data"
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1c9kxcWx5wU61Q0zb1YG2fGMV551z88PT",
          "mode": "list",
          "cachedResultName": "SFS Images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1c9kxcWx5wU61Q0zb1YG2fGMV551z88PT"
        },
        "options": {}
      },
      "id": "22f1609c-924b-4187-8c75-b046f542c83d",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YccFrdj90ivdga5k",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads with correct filename"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
          "mode": "list",
          "cachedResultName": "SFS Topic Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1502887379,
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1502887379"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "row_number": "={{ $('Read Pending Prompts (Sheet2)').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "video_name",
              "displayName": "video_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chapter_number",
              "displayName": "chapter_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "image_number",
              "displayName": "image_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "999df562-4f1c-4a0b-b14b-4be1a4807d34",
      "name": "Mark Prompt Complete (Sheet2)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        656,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1XqTJPtDuzHpqQbs",
          "name": "Google Sheets account"
        }
      },
      "notes": "Updates status in Sheet2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "5ec92052-6338-40f3-8d22-aee87439f6db",
      "name": "Delay Between Batches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        112
      ],
      "webhookId": "batch-delay-concurrent",
      "notes": "10 second pause between batches of 10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1088,
        112
      ],
      "id": "daeab1a6-6c8e-4623-b869-c5385157702f",
      "name": "Limit"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        288
      ],
      "id": "2553abdd-fa97-4946-9dbc-850c9382acab",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "path": "dd65573c-7962-4b99-b2f4-14064b1d5a6c",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -80
      ],
      "id": "de1a5a5a-b22c-4ce0-bc74-660e3ada434b",
      "name": "Webhook",
      "webhookId": "dd65573c-7962-4b99-b2f4-14064b1d5a6c"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Prompts (Sheet2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Prompts (Sheet2)": {
      "main": [
        [
          {
            "node": "Batch Prompts (10 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Prompts (10 at a time)": {
      "main": [
        [
          {
            "node": "Delay Between Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image via fal.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image via fal.ai": {
      "main": [
        [
          {
            "node": "Generation Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Successful?": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Prompts (10 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Preserve Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preserve Metadata": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Mark Prompt Complete (Sheet2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Prompt Complete (Sheet2)": {
      "main": [
        [
          {
            "node": "Batch Prompts (10 at a time)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Between Batches": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Pending Prompts (Sheet2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Pending Prompts (Sheet2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6095b8d8-e9bc-4598-8abe-6268aceb5d33",
  "activeVersionId": "013ede2d-70b2-4ee3-aea3-063191a53ebb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-26T00:27:28.928Z",
      "createdAt": "2026-01-26T00:27:28.928Z",
      "role": "workflow:owner",
      "workflowId": "7eTLolS3Xq87upqhzzL2C",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-04T16:59:20.000Z",
    "createdAt": "2026-02-04T16:58:49.758Z",
    "versionId": "013ede2d-70b2-4ee3-aea3-063191a53ebb",
    "workflowId": "7eTLolS3Xq87upqhzzL2C",
    "nodes": [
      {
        "parameters": {},
        "id": "ef99a0c1-bc0b-47b0-abb9-634f00a9bfd3",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -1088,
          112
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
            "mode": "list",
            "cachedResultName": "SFS Topic Input Sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1502887379,
            "mode": "list",
            "cachedResultName": "Prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1502887379"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "status",
                "lookupValue": "pending"
              }
            ]
          },
          "options": {}
        },
        "id": "3a42202a-e548-4c16-a4e1-ddae92ea2acf",
        "name": "Read Pending Prompts (Sheet2)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -880,
          112
        ],
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "1XqTJPtDuzHpqQbs",
            "name": "Google Sheets account"
          }
        },
        "notes": "Reads all pending prompts from Sheet2"
      },
      {
        "parameters": {
          "batchSize": 20,
          "options": {}
        },
        "id": "4e72c675-054b-44c9-bf07-981a65f6cb9d",
        "name": "Batch Prompts (10 at a time)",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -656,
          112
        ],
        "notes": "Processes 10 prompts simultaneously (fal.ai concurrency limit)"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://fal.run/fal-ai/gpt-image-1.5",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"image_size\": \"1536x1024\",\n  \"num_images\": 1,\n  \"output_format\": \"png\",\n  \"quality\": \"low\"\n}",
          "options": {}
        },
        "id": "4a93cd93-2a93-4bbf-b2a1-a23abc81c57d",
        "name": "Generate Image via fal.ai",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -432,
          112
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "z9A4PGMllFQCcjr1",
            "name": "Fal.ai Auth"
          }
        },
        "continueOnFail": true,
        "notes": "Generates image (~70 seconds) - runs 10 at once!"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "has-images-concurrent",
                "leftValue": "={{ $json.images[0].url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "24d101d9-87be-44c1-8ef0-0737d1459928",
        "name": "Generation Successful?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -224,
          112
        ],
        "notes": "Checks if fal.ai returned an image"
      },
      {
        "parameters": {
          "url": "={{ $json.images[0].url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "f20a8b16-0db3-4799-94cb-e89524ca7aa6",
        "name": "Download Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          0
        ],
        "notes": "Downloads the generated PNG"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "preserve-filename",
                "name": "filename",
                "value": "={{ $('Batch Prompts (10 at a time)').item.json.filename }}",
                "type": "string"
              },
              {
                "id": "preserve-row-number",
                "name": "row_number",
                "value": "={{ $('Batch Prompts (10 at a time)').item.json.row_number }}",
                "type": "number"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "36846592-fa9c-4bda-8adb-abcb259be9e7",
        "name": "Preserve Metadata",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ],
        "notes": "Keeps original filename and row number with binary data"
      },
      {
        "parameters": {
          "name": "={{ $json.filename }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1c9kxcWx5wU61Q0zb1YG2fGMV551z88PT",
            "mode": "list",
            "cachedResultName": "SFS Images",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1c9kxcWx5wU61Q0zb1YG2fGMV551z88PT"
          },
          "options": {}
        },
        "id": "22f1609c-924b-4187-8c75-b046f542c83d",
        "name": "Upload to Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          448,
          0
        ],
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "YccFrdj90ivdga5k",
            "name": "Google Drive account"
          }
        },
        "notes": "Uploads with correct filename"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ",
            "mode": "list",
            "cachedResultName": "SFS Topic Input Sheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1502887379,
            "mode": "list",
            "cachedResultName": "Prompts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17Je5LG46mogd9t3UOHllc8gzz8gQc5bgIuOSmJFhAyQ/edit#gid=1502887379"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "status": "completed",
              "row_number": "={{ $('Read Pending Prompts (Sheet2)').item.json.row_number }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "video_name",
                "displayName": "video_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "chapter_number",
                "displayName": "chapter_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "image_number",
                "displayName": "image_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "filename",
                "displayName": "filename",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "prompt",
                "displayName": "prompt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "999df562-4f1c-4a0b-b14b-4be1a4807d34",
        "name": "Mark Prompt Complete (Sheet2)",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          656,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "1XqTJPtDuzHpqQbs",
            "name": "Google Sheets account"
          }
        },
        "notes": "Updates status in Sheet2"
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "5ec92052-6338-40f3-8d22-aee87439f6db",
        "name": "Delay Between Batches",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          880,
          112
        ],
        "webhookId": "batch-delay-concurrent",
        "notes": "10 second pause between batches of 10"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1088,
          112
        ],
        "id": "daeab1a6-6c8e-4623-b869-c5385157702f",
        "name": "Limit"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1072,
          288
        ],
        "id": "2553abdd-fa97-4946-9dbc-850c9382acab",
        "name": "Schedule Trigger",
        "disabled": true
      },
      {
        "parameters": {
          "path": "dd65573c-7962-4b99-b2f4-14064b1d5a6c",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1088,
          -80
        ],
        "id": "de1a5a5a-b22c-4ce0-bc74-660e3ada434b",
        "name": "Webhook",
        "webhookId": "dd65573c-7962-4b99-b2f4-14064b1d5a6c"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Read Pending Prompts (Sheet2)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Pending Prompts (Sheet2)": {
        "main": [
          [
            {
              "node": "Batch Prompts (10 at a time)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Batch Prompts (10 at a time)": {
        "main": [
          [
            {
              "node": "Delay Between Batches",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Image via fal.ai",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Image via fal.ai": {
        "main": [
          [
            {
              "node": "Generation Successful?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generation Successful?": {
        "main": [
          [
            {
              "node": "Download Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Batch Prompts (10 at a time)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image": {
        "main": [
          [
            {
              "node": "Preserve Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preserve Metadata": {
        "main": [
          [
            {
              "node": "Upload to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Google Drive": {
        "main": [
          [
            {
              "node": "Mark Prompt Complete (Sheet2)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Prompt Complete (Sheet2)": {
        "main": [
          [
            {
              "node": "Batch Prompts (10 at a time)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delay Between Batches": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          []
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Pending Prompts (Sheet2)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Read Pending Prompts (Sheet2)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ShaRhanda Lawson",
    "name": "Version 013ede2d",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-01-25T23:18:23.477Z",
      "createdAt": "2026-01-25T23:18:23.477Z",
      "id": "EYwjzgLoghqZQ2Du",
      "name": "SFS"
    }
  ]
}