wf1---brain-dump-to-story-dossier-.json
{
  "updatedAt": "2026-02-26T04:59:41.203Z",
  "createdAt": "2026-02-26T04:54:09.966Z",
  "id": "bV3hJCL0bd-H1QEslHuUc",
  "name": "WF1 - Brain Dump to Story Dossier",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Make It Black. Make It Modern. — New Book Brain Dump",
        "formDescription": "Fill this out with everything you know about your next book. Messy is fine. The AI will shape it.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Book Title (optional — can be a working title or leave blank)"
            },
            {
              "fieldLabel": "Which fairy tale is this retelling?",
              "requiredField": true
            },
            {
              "fieldLabel": "City and Setting",
              "requiredField": true
            },
            {
              "fieldLabel": "Who is the protagonist and what is her world?",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "How does the fairy tale element show up in the modern world?",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Tone and vibe"
            },
            {
              "fieldLabel": "Additional brain dump — anything else about this book",
              "fieldType": "textarea"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        240,
        224
      ],
      "id": "fb3c7656-3bb0-4612-a1bf-4e635690cc74",
      "name": "Book Brain Dump Form",
      "webhookId": "3852a284-c224-4940-9bcf-b048b00494a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "TROPE_TEMPLATE_DOC_ID",
              "value": "168KxD6S5j1e3DgOaaFdSfq_-r2man-x8Ll8rEnenPUU",
              "type": "string"
            },
            {
              "name": "PLOT_TEMPLATE_DOC_ID",
              "value": "1dqn0dBx2X5rcn5xGhp41hJ9aTpYleKhiXlmzSmy02W4",
              "type": "string"
            },
            {
              "name": "CHARACTER_TEMPLATE_DOC_ID",
              "value": "1AD358QVe8-4dQI75qI0EhhkEX4gbC8l4e-Sb1d_R9y0",
              "type": "string"
            },
            {
              "name": "WORLDBUILDING_TEMPLATE_DOC_ID",
              "value": "1XnPC9wzz96SLTzW8mNu3bi--729CbtLTH36nQWhvMoQ",
              "type": "string"
            },
            {
              "name": "DOSSIER_OUTPUT_DOC_ID",
              "value": "1yKk3nMpA5sTNp78Pr0sMw_tJn0q9PgcJBQn1quj5KVw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        224
      ],
      "id": "b545c50a-6196-471e-8588-b2fcf464a270",
      "name": "📄 DOC IDs — UPDATE HERE"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.TROPE_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        752,
        16
      ],
      "id": "b3d608dd-830b-4b3d-a955-7e30dfe67473",
      "name": "Fetch Trope Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.PLOT_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        752,
        160
      ],
      "id": "f5b6945e-7007-484b-a99f-dba7af571582",
      "name": "Fetch Plot Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.CHARACTER_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        752,
        304
      ],
      "id": "d3662da6-bb2f-4307-b3d4-61cef685d45e",
      "name": "Fetch Character Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.WORLDBUILDING_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        752,
        448
      ],
      "id": "4ce914c9-1404-4423-bb67-182be95a6cf7",
      "name": "Fetch Worldbuilding Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1024,
        224
      ],
      "id": "a0ab5f98-e92d-4455-8940-0f35c86fca5c",
      "name": "Merge Templates"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a developmental editor and story architect specializing in adult contemporary magical realism fiction for Black women readers.\n\nYou have been given a writer's brain dump for a new book in the series \"Make It Black. Make It Modern.\" — a series of fairy tale retellings with Black women protagonists set in modern American cities.\n\nYou also have four series templates:\n\n---\nTROPE TEMPLATE:\n{{ $('Fetch Trope Template').item.json.body }}\n\n---\nPLOT TEMPLATE:\n{{ $('Fetch Plot Template').item.json.body }}\n\n---\nCHARACTER TEMPLATE:\n{{ $('Fetch Character Template').item.json.body }}\n\n---\nWORLDBUILDING TEMPLATE:\n{{ $('Fetch Worldbuilding Template').item.json.body }}\n\n---\nWRITER'S BRAIN DUMP:\n\nWorking Title: {{ $('Book Brain Dump Form').item.json['Book Title (optional — can be a working title or leave blank)'] || 'Untitled' }}\nFairy Tale Source: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity and Setting: {{ $('Book Brain Dump Form').item.json['City and Setting'] }}\nProtagonist and World: {{ $('Book Brain Dump Form').item.json['Who is the protagonist and what is her world?'] }}\nModern Fairy Tale Elements: {{ $('Book Brain Dump Form').item.json['How does the fairy tale element show up in the modern world?'] }}\nTone and Vibe: {{ $('Book Brain Dump Form').item.json['Tone and vibe'] || 'Not specified' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Additional brain dump — anything else about this book'] || 'None provided' }}\n\n---\n\nUsing the brain dump as your raw material and the four templates as your structural guidelines, create a comprehensive STORY DOSSIER with all ten sections:\n\n## 1. SERIES PLACEMENT\n## 2. CORE PREMISE (logline + expanded paragraph)\n## 3. THEMATIC SPINE\n## 4. THE WORLD — MUNDANE LAYER\n## 5. THE WORLD — MAGICAL LAYER\n## 6. THE STAKES (external, internal, relational)\n## 7. CAST OVERVIEW (Protagonist, Love Interest, Villain, Elder/Mentor, Best Friend)\n## 8. FAIRY TALE MAPPING (table of fairy tale elements to modern equivalents)\n## 9. TONE AND STYLE NOTES\n## 10. OPEN QUESTIONS FOR THE AUTHOR (3-5 genuine story questions)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1280,
        224
      ],
      "id": "74fc8468-bb66-4705-bf3d-d83aca4425b6",
      "name": "Build Story Dossier"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-6",
        "options": {
          "maxTokens": 8000,
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        400
      ],
      "id": "494a71d7-3931-4e99-bd9f-1d8ec87116ba",
      "name": "Build Dossier Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior developmental editor with deep expertise in adult commercial fiction for Black women readers and in the fairy tale retelling genre.\n\nYou have just received a Story Dossier for a new book in the \"Make It Black. Make It Modern.\" series. Your job is to critique it rigorously and honestly.\n\nHere is the dossier:\n\n{{ $json.output }}\n\nEvaluate the dossier on eight dimensions. For each give a rating (Strong / Solid / Needs Work / Weak) and specific actionable feedback:\n\n1. HOOK STRENGTH — Does the premise grab immediately? Would a Black woman reader want this story?\n2. FAIRY TALE FIDELITY — Are the fairy tale bones clear and well-transformed? At least 4 key beats mapped?\n3. CULTURAL AUTHENTICITY — Does this feel grounded in Black women's contemporary experience? Is the city specific?\n4. PROTAGONIST FULLNESS — Active, flawed, gifted, specific — or does she feel underdeveloped?\n5. MAGIC BALANCE — Culturally grounded, subtle, properly constrained? Complicates rather than solves?\n6. COMMERCIAL VIABILITY — BookTok potential? Right tropes? Enough romance heat? HEA/HFN set up?\n7. SERIES FIT — Adds something unique? Honors the series promise?\n8. WHAT'S MISSING — What's underdeveloped, contradictory, or absent?\n\nEnd with:\n- 3 specific STRENGTHS to preserve\n- 3 specific PROBLEMS to fix\n- 1 BIG QUESTION that could make or break the book",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1536,
        224
      ],
      "id": "62ebaa1c-1675-49e4-9cfb-96bb168baad4",
      "name": "Critique Dossier"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-6",
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1536,
        400
      ],
      "id": "21c381a1-cab7-48fe-80b4-b90fa7996b64",
      "name": "Critique Dossier Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a developmental editor and story architect specializing in adult contemporary magical realism fiction for Black women readers.\n\nYou have two documents:\n\n1. The original Story Dossier:\n{{ $('Build Story Dossier').item.json.output }}\n\n2. The editorial critique:\n{{ $json.output }}\n\nRewrite the Story Dossier implementing the critique's recommendations:\n- Fix every problem identified\n- Answer the big question if possible, or flag it clearly\n- Strengthen weak sections\n- Preserve the three strengths called out\n- Keep everything specific to this book and this writer's vision — do NOT make it generic\n\nProduce the complete rewritten dossier with all ten sections. This is the version that will be used for outlining.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1792,
        224
      ],
      "id": "50a1e89d-7f43-4d76-a00e-8bdaa3c043df",
      "name": "Rewrite Dossier"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4-6",
        "options": {
          "maxTokens": 8000,
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        400
      ],
      "id": "cff65dfb-e1d1-42be-bcd3-b6da9a1935d7",
      "name": "Rewrite Dossier Model"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.DOSSIER_OUTPUT_DOC_ID }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=================================================================\nSTORY DOSSIER — {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }} RETELLING\nGenerated: {{ $now.toFormat('MMMM d, yyyy') }}\n=================================================================\n\n--- SECTION 1: ORIGINAL DOSSIER ---\n\n{{ $('Build Story Dossier').item.json.output }}\n\n\n--- SECTION 2: EDITORIAL CRITIQUE ---\n\n{{ $('Critique Dossier').item.json.output }}\n\n\n--- SECTION 3: FINAL DOSSIER (USE THIS FOR OUTLINING) ---\n\n{{ $('Rewrite Dossier').item.json.output }}\n\n"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2064,
        224
      ],
      "id": "d9c8b310-6b39-4766-bdab-98488cc1ab16",
      "name": "Save Dossier to Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Your Story Dossier is ready!\n\nBook: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }} retelling — {{ $('Book Brain Dump Form').item.json['City and Setting'] }}\n\nSaved to your Google Doc with three sections:\n1. Original dossier\n2. Editorial critique\n3. Final revised dossier (use this for outlining)\n\nReview the open questions in Section 3 before running Workflow 2.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2320,
        224
      ],
      "id": "459e8a20-0508-471f-88dd-ab4cb61c5973",
      "name": "Form Response"
    }
  ],
  "connections": {
    "Book Brain Dump Form": {
      "main": [
        [
          {
            "node": "📄 DOC IDs — UPDATE HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 DOC IDs — UPDATE HERE": {
      "main": [
        [
          {
            "node": "Fetch Trope Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Plot Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Character Template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Worldbuilding Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trope Template": {
      "main": [
        [
          {
            "node": "Merge Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Plot Template": {
      "main": [
        [
          {
            "node": "Merge Templates",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Templates": {
      "main": [
        [
          {
            "node": "Build Story Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dossier Model": {
      "ai_languageModel": [
        [
          {
            "node": "Build Story Dossier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Story Dossier": {
      "main": [
        [
          {
            "node": "Critique Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critique Dossier Model": {
      "ai_languageModel": [
        [
          {
            "node": "Critique Dossier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Critique Dossier": {
      "main": [
        [
          {
            "node": "Rewrite Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Dossier Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite Dossier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Dossier": {
      "main": [
        [
          {
            "node": "Save Dossier to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dossier to Google Doc": {
      "main": [
        [
          {
            "node": "Form Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f1415d90-7c86-402b-b80f-d48d9bd62320",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T04:54:09.969Z",
      "createdAt": "2026-02-26T04:54:09.969Z",
      "role": "workflow:owner",
      "workflowId": "bV3hJCL0bd-H1QEslHuUc",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": null,
  "tags": []
}