wf1---brain-dump-to-story-dossier-.json
{
  "updatedAt": "2026-02-28T03:09:24.510Z",
  "createdAt": "2026-02-26T04:54:09.966Z",
  "id": "bV3hJCL0bd-H1QEslHuUc",
  "name": "WF1 - Brain Dump to Story Dossier",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Make It Black. Make It Modern. — New Book",
        "formDescription": "Tell the AI which fairy tale you want to retell. Everything else — characters, world, cast, tone — the AI builds from the series templates.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Which fairy tale is this retelling?",
              "placeholder": "e.g. Cinderella, Little Red Riding Hood, Rumpelstiltskin",
              "requiredField": true
            },
            {
              "fieldLabel": "City preference (optional — leave blank and the AI will choose)",
              "placeholder": "e.g. Atlanta, Chicago, New Orleans, Houston"
            },
            {
              "fieldLabel": "Anything specific you want in this book (optional)",
              "fieldType": "textarea",
              "placeholder": "A vibe, a trope you love, a setting detail, anything. Or leave blank."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        528,
        896
      ],
      "id": "dc9e2f57-54c5-4edd-a02d-e59c86727b79",
      "name": "Book Brain Dump Form",
      "webhookId": "ecae803d-ca28-4d67-a237-df053ec52cde"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "TROPE_TEMPLATE_DOC_ID",
              "value": "168KxD6S5j1e3DgOaaFdSfq_-r2man-x8Ll8rEnenPUU",
              "type": "string"
            },
            {
              "name": "PLOT_TEMPLATE_DOC_ID",
              "value": "1dqn0dBx2X5rcn5xGhp41hJ9aTpYleKhiXlmzSmy02W4",
              "type": "string"
            },
            {
              "name": "CHARACTER_TEMPLATE_DOC_ID",
              "value": "1AD358QVe8-4dQI75qI0EhhkEX4gbC8l4e-Sb1d_R9y0",
              "type": "string"
            },
            {
              "name": "WORLDBUILDING_TEMPLATE_DOC_ID",
              "value": "1XnPC9wzz96SLTzW8mNu3bi--729CbtLTH36nQWhvMoQ",
              "type": "string"
            },
            {
              "name": "DOSSIER_OUTPUT_DOC_ID",
              "value": "1yKk3nMpA5sTNp78Pr0sMw_tJn0q9PgcJBQn1quj5KVw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        896
      ],
      "id": "d32cc626-e76b-4d9c-88a7-91c72c01cfda",
      "name": "📄 DOC IDs — UPDATE HERE"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.TROPE_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        784
      ],
      "id": "d37ee4f8-567c-4310-97cf-d2aa08958625",
      "name": "Fetch Trope Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.PLOT_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        1056
      ],
      "id": "3fef713c-32d2-43ad-a192-bb7f6ab50be9",
      "name": "Fetch Plot Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.DOSSIER_OUTPUT_DOC_ID }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=================================================================\nSTORY DOSSIER — {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }} RETELLING\nGenerated: {{ $now.toFormat('MMMM d, yyyy') }}\n================================================================\n\n{{ $('Dossier Rewrite').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2752,
        896
      ],
      "id": "21c1bc22-3fc2-4dfc-883f-b289508a9b42",
      "name": "Save Dossier to Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<plot_template>\n{{ $('Fetch Plot Template').item.json.content }}\n</plot_template>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference — choose the best city for the story' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nAbove you will find genre tropes and a plot template for the \"Make It Black. Make It Modern.\" series — fairy tale retellings with Black women protagonists in contemporary American cities. You will also find the author's inputs for a new book in this series.\n\nYour task is to brainstorm 3 distinct story directions for this retelling of {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}. Each direction must feel genuinely different — different city, different industry, different protagonist wound, different way the fairy tale maps to modern life.\n\nFor each direction provide:\n- **CONCEPT TITLE** (working title)\n- **CITY & INDUSTRY** (the specific world she lives in)\n- **PROTAGONIST SNAPSHOT** (who she is, her wound, her gift — no name yet)\n- **THE FAIRY TALE HOOK** (how the source tale's specific beats map to this modern world)\n- **THE MAGIC** (what form it takes, culturally grounded, appropriately subtle)\n- **THE ROMANCE TROPE** (primary trope)\n- **WHY THIS WORKS** (why this direction is commercially strong for Black women readers)\n\nEach direction should be no more than one paragraph per field, formatted in Markdown. Make each option bold and specific. No generic pitches.",
        "options": {
          "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1312,
        896
      ],
      "id": "a7623214-70fc-494d-8ff2-997e2928b21c",
      "name": "Brainstorm"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        1072
      ],
      "id": "8be7166b-575c-4c9a-8648-45a7e0c5b6da",
      "name": "Brainstorm Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\n<ideas>\n{{ $json.output }}\n</ideas>\n\nYour task is to carefully analyze the above story directions for a new novel in the \"Make It Black. Make It Modern.\" series. Analyze them based on:\n\n- How logically sound the premise is (does it make sense, even as magical realism?)\n- Which feels most original while still honoring the fairy tale source\n- Which has the most potential for emotional gut-punches\n- Which best maps the fairy tale's specific bones to the modern world\n- Which adheres best to the author's inputs listed above\n\nOnce you've made your choice, reproduce the text of that direction verbatim. ONLY output the chosen direction. Do not add any preamble or analysis. Just the chosen direction.",
        "options": {
          "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        896
      ],
      "id": "c46109c1-5b12-42cc-976b-8f47e2fc1249",
      "name": "Pick the Best"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1648,
        1072
      ],
      "id": "1c07fa64-101a-46cb-a0c8-c082d585261f",
      "name": "Pick the Best Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<premise>\n{{ $('Pick the Best').item.json.output }}\n</premise>\n\n<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<plot_template>\n{{ $('Fetch Plot Template').item.json.content }}\n</plot_template>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nYou are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings with Black women protagonists in contemporary American cities.\n\nGiven the above premise, genre tropes, plot template, and author inputs, create a complete Story Dossier. This dossier is an INPUT document — it feeds downstream workflows that will generate full character profiles and detailed worldbuilding separately. Do NOT write full character profiles here. Do NOT write detailed world descriptions. Your job is to give the next agents enough to know exactly what story they are building.\n\nFollow these section structures and word limits strictly.\n\n---\n\n## I. SYNOPSIS\nWrite one paragraph only. Cover the premise, the central conflict, and what's at stake. Do not describe how the story resolves. Do not summarize the romance arc, the magic system, or the thematic conclusion. Those belong in the outline.\n\n---\n\n## II. CHARACTER MANIFEST\n\n### Main Cast\nList every named character needed for this book. Label each with their role (protagonist, antagonist, love interest, mentor, best friend). Write 1-2 sentences per character: who they are and what their role in the story is. Do not add more detail than this.\n\n### Factions & Minor Characters\nFor any group or faction, name 3-5 individual members so the author has named characters for every scene. One sentence per person: who they are and what one thing they do that matters to the plot.\n\n---\n\n## III. WORLDBUILDING CODEX\n\n### Locations\nList every location needed. One sentence each: what it is and its narrative function.\n\n### Objects & Artifacts\nList every significant object. One sentence each: what it is and why it matters.\n\n### Magic System\n4-6 bullet points covering: what the magic is, who carries it, how it activates, what it costs, and one rule that creates narrative complication.\n\n---\n\n## IV. FAIRY TALE MAPPING\nA two-column table. Column headers: FAIRY TALE ELEMENT | MODERN EQUIVALENT.\n8-10 rows. No third column. No explanation. The comparison should be self-evident.\n\n---\n\n## V. OUTLINE PLAN & IMPLEMENTATION NOTES\n\nWrite one short paragraph per item below. Each paragraph should flag what the outline needs to figure out and raise the key questions it will need to answer — but do not answer them. Do not describe specific scenes, character realizations, or structural choices. Those belong in the outline workflow.\n\n**The Inciting Incident:** Identify the two or three events that set the story in motion and flag whether they arrive simultaneously or are staggered. Raise the question of what the protagonist already suspects versus what she is seeing clearly for the first time.\n\n**The Midpoint Shift:** Identify what changes at the midpoint — in the protagonist's goal, her relationship to the magic, and her relationship to the love interest. Flag what event or discovery forces this shift without describing the scene itself.\n\n**The Climactic Choice:** Name the two or more options available to the protagonist at the climax and flag what each one costs her. Do not resolve the choice. Note any structural factors — a governance review, a deadline, a witness — that will shape how the choice is framed.\n\n**The Irreversible Cost:** Flag what the protagonist cannot recover even if she wins. Identify which secondary character is most at risk of paying a price on her behalf and note that the outline must deliver this cost fully rather than soften it.\n\n**The Romance Arc:** Flag the sequence the outline must protect — what must be established before romantic feeling is earned — and note any structural complication in the love interest's position that the outline cannot resolve too early.\n\n**The Magic System:** Flag the two or three moments where the magic must do specific narrative work rather than atmospheric work, and note what the outline will need to decide about the cost the protagonist pays for engaging with it.\n\n---\n\nYou may add other details that complete the dossier. This is fine.",
        "options": {
          "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1888,
        896
      ],
      "id": "b7ed8641-ef33-4558-b6cb-e5ca95b01ee0",
      "name": "Complete Story Dossier"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1904,
        1072
      ],
      "id": "defe66ef-587c-49cc-beed-f5fe22c54113",
      "name": "Complete Story Dossier Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<premise>\n{{ $('Pick the Best').item.json.output }}\n</premise>\n\n<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<plot_template>\n{{ $('Fetch Plot Template').item.json.content }}\n</plot_template>\n\n<story_dossier>\n{{ $('Complete Story Dossier').item.json.output }}\n</story_dossier>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nGiven the above templates and the story dossier for the premise, critique the dossier based on:\n\n- **Logical consistency** — does the premise hold up, even as magical realism? Are there gaps or contradictions?\n- **Originality within tropes** — does it honor the fairy tale source while feeling fresh? Does it maintain the correct genre tropes from the guides?\n- **Potential emotional impact** — does this story have the gut-punch moments that make readers stay up too late?\n- **Fairy tale fidelity** — does the modern mapping honor the specific bones of the source tale, not just its surface?\n\nThen create a plan to improve the dossier. Do NOT rewrite the dossier. Only give suggestions on how to improve it, with specific examples of what you would change and why.",
        "options": {
          "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2176,
        896
      ],
      "id": "803ea9fa-33f3-4abb-952c-54dd86d8bdfe",
      "name": "Dossier Critique"
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2160,
        1072
      ],
      "id": "5df53060-f59f-42df-852b-b2c1f97d293f",
      "name": "Dossier Critique Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<premise>\n{{ $('Pick the Best').item.json.output }}\n</premise>\n\n<story_dossier>\n{{ $('Complete Story Dossier').item.json.output }}\n</story_dossier>\n\n<improvement_plan>\n{{ $('Dossier Critique').item.json.output }}\n</improvement_plan>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nUsing the text of the <story_dossier> and the <improvement_plan>, implement the suggestions from the improvement plan into the dossier. Only implement the suggested changes, and do not change anything else about the original dossier. Reproduce the entire dossier with the suggested changes made.",
        "options": {
          "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2464,
        896
      ],
      "id": "09306b1a-f5ff-4e1b-9b08-f7445a5aa520",
      "name": "Dossier Rewrite"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2416,
        1072
      ],
      "id": "d4e06935-2fdc-40e9-9c99-acce0e6ee15e",
      "name": "Dossier Rewrite Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Book Brain Dump Form": {
      "main": [
        [
          {
            "node": "📄 DOC IDs — UPDATE HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 DOC IDs — UPDATE HERE": {
      "main": [
        [
          {
            "node": "Fetch Trope Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trope Template": {
      "main": [
        [
          {
            "node": "Fetch Plot Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Plot Template": {
      "main": [
        [
          {
            "node": "Brainstorm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Dossier to Google Doc": {
      "main": [
        []
      ]
    },
    "Brainstorm": {
      "main": [
        [
          {
            "node": "Pick the Best",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick the Best": {
      "main": [
        [
          {
            "node": "Complete Story Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Story Dossier": {
      "main": [
        [
          {
            "node": "Dossier Critique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Critique": {
      "main": [
        [
          {
            "node": "Dossier Rewrite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Rewrite": {
      "main": [
        [
          {
            "node": "Save Dossier to Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brainstorm Model": {
      "ai_languageModel": [
        [
          {
            "node": "Brainstorm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pick the Best Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pick the Best",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Complete Story Dossier Model": {
      "ai_languageModel": [
        [
          {
            "node": "Complete Story Dossier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Critique Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dossier Critique",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Rewrite Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dossier Rewrite",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d707d9ff-1ea9-40ed-9ecb-815c764266b4",
  "activeVersionId": "29533996-3914-42fe-aff6-5310abbb252f",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-26T04:54:09.969Z",
      "createdAt": "2026-02-26T04:54:09.969Z",
      "role": "workflow:owner",
      "workflowId": "bV3hJCL0bd-H1QEslHuUc",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-27T16:17:05.000Z",
    "createdAt": "2026-02-27T16:16:28.197Z",
    "versionId": "29533996-3914-42fe-aff6-5310abbb252f",
    "workflowId": "bV3hJCL0bd-H1QEslHuUc",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Make It Black. Make It Modern. — New Book",
          "formDescription": "Tell the AI which fairy tale you want to retell. Everything else — characters, world, cast, tone — the AI builds from the series templates.",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Which fairy tale is this retelling?",
                "placeholder": "e.g. Cinderella, Little Red Riding Hood, Rumpelstiltskin",
                "requiredField": true
              },
              {
                "fieldLabel": "City preference (optional — leave blank and the AI will choose)",
                "placeholder": "e.g. Atlanta, Chicago, New Orleans, Houston"
              },
              {
                "fieldLabel": "Anything specific you want in this book (optional)",
                "fieldType": "textarea",
                "placeholder": "A vibe, a trope you love, a setting detail, anything. Or leave blank."
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          528,
          896
        ],
        "id": "dc9e2f57-54c5-4edd-a02d-e59c86727b79",
        "name": "Book Brain Dump Form",
        "webhookId": "ecae803d-ca28-4d67-a237-df053ec52cde"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "TROPE_TEMPLATE_DOC_ID",
                "value": "168KxD6S5j1e3DgOaaFdSfq_-r2man-x8Ll8rEnenPUU",
                "type": "string"
              },
              {
                "name": "PLOT_TEMPLATE_DOC_ID",
                "value": "1dqn0dBx2X5rcn5xGhp41hJ9aTpYleKhiXlmzSmy02W4",
                "type": "string"
              },
              {
                "name": "CHARACTER_TEMPLATE_DOC_ID",
                "value": "1AD358QVe8-4dQI75qI0EhhkEX4gbC8l4e-Sb1d_R9y0",
                "type": "string"
              },
              {
                "name": "WORLDBUILDING_TEMPLATE_DOC_ID",
                "value": "1XnPC9wzz96SLTzW8mNu3bi--729CbtLTH36nQWhvMoQ",
                "type": "string"
              },
              {
                "name": "DOSSIER_OUTPUT_DOC_ID",
                "value": "1yKk3nMpA5sTNp78Pr0sMw_tJn0q9PgcJBQn1quj5KVw",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          784,
          896
        ],
        "id": "d32cc626-e76b-4d9c-88a7-91c72c01cfda",
        "name": "📄 DOC IDs — UPDATE HERE"
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.TROPE_TEMPLATE_DOC_ID }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1040,
          688
        ],
        "id": "d37ee4f8-567c-4310-97cf-d2aa08958625",
        "name": "Fetch Trope Template",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "0icadRz5XxXy9hB4",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.PLOT_TEMPLATE_DOC_ID }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1040,
          1024
        ],
        "id": "3fef713c-32d2-43ad-a192-bb7f6ab50be9",
        "name": "Fetch Plot Template",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "0icadRz5XxXy9hB4",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.DOSSIER_OUTPUT_DOC_ID }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "insert",
                "text": "=================================================================\nSTORY DOSSIER — {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }} RETELLING\nGenerated: {{ $now.toFormat('MMMM d, yyyy') }}\n================================================================\n\n{{ $('Dossier Rewrite').item.json.output }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2848,
          816
        ],
        "id": "21c1bc22-3fc2-4dfc-883f-b289508a9b42",
        "name": "Save Dossier to Google Doc",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "0icadRz5XxXy9hB4",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<plot_template>\n{{ $('Fetch Plot Template').item.json.content }}\n</plot_template>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference — choose the best city for the story' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nAbove you will find genre tropes and a plot template for the \"Make It Black. Make It Modern.\" series — fairy tale retellings with Black women protagonists in contemporary American cities. You will also find the author's inputs for a new book in this series.\n\nYour task is to brainstorm 3 distinct story directions for this retelling of {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}. Each direction must feel genuinely different — different city, different industry, different protagonist wound, different way the fairy tale maps to modern life.\n\nFor each direction provide:\n- **CONCEPT TITLE** (working title)\n- **CITY & INDUSTRY** (the specific world she lives in)\n- **PROTAGONIST SNAPSHOT** (who she is, her wound, her gift — no name yet)\n- **THE FAIRY TALE HOOK** (how the source tale's specific beats map to this modern world)\n- **THE MAGIC** (what form it takes, culturally grounded, appropriately subtle)\n- **THE ROMANCE TROPE** (primary trope)\n- **WHY THIS WORKS** (why this direction is commercially strong for Black women readers)\n\nEach direction should be no more than one paragraph per field, formatted in Markdown. Make each option bold and specific. No generic pitches.",
          "options": {
            "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1392,
          896
        ],
        "id": "a7623214-70fc-494d-8ff2-997e2928b21c",
        "name": "Brainstorm"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1392,
          1072
        ],
        "id": "8be7166b-575c-4c9a-8648-45a7e0c5b6da",
        "name": "Brainstorm Model",
        "credentials": {
          "openRouterApi": {
            "id": "VNgbdBR86ZkDETr5",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\n<ideas>\n{{ $json.output }}\n</ideas>\n\nYour task is to carefully analyze the above story directions for a new novel in the \"Make It Black. Make It Modern.\" series. Analyze them based on:\n\n- How logically sound the premise is (does it make sense, even as magical realism?)\n- Which feels most original while still honoring the fairy tale source\n- Which has the most potential for emotional gut-punches\n- Which best maps the fairy tale's specific bones to the modern world\n- Which adheres best to the author's inputs listed above\n\nOnce you've made your choice, reproduce the text of that direction verbatim. ONLY output the chosen direction. Do not add any preamble or analysis. Just the chosen direction.",
          "options": {
            "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1648,
          896
        ],
        "id": "c46109c1-5b12-42cc-976b-8f47e2fc1249",
        "name": "Pick the Best"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1648,
          1072
        ],
        "id": "1c07fa64-101a-46cb-a0c8-c082d585261f",
        "name": "Pick the Best Model",
        "credentials": {
          "openRouterApi": {
            "id": "VNgbdBR86ZkDETr5",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<premise>\n{{ $('Pick the Best').item.json.output }}\n</premise>\n\n<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<plot_template>\n{{ $('Fetch Plot Template').item.json.content }}\n</plot_template>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nYou are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings with Black women protagonists in contemporary American cities.\n\nGiven the above premise, genre tropes, plot template, and author inputs, create a complete Story Dossier. This dossier is an INPUT document — it feeds downstream workflows that will generate full character profiles and detailed worldbuilding separately. Do NOT write full character profiles here. Do NOT write detailed world descriptions. Your job is to give the next agents enough to know exactly what story they are building.\n\nFollow these section structures and word limits strictly.\n\n---\n\n## I. SYNOPSIS\nWrite one paragraph only. Cover the premise, the central conflict, and what's at stake. Do not describe how the story resolves. Do not summarize the romance arc, the magic system, or the thematic conclusion. Those belong in the outline.\n\n---\n\n## II. CHARACTER MANIFEST\n\n### Main Cast\nList every named character needed for this book. Label each with their role (protagonist, antagonist, love interest, mentor, best friend). Write 1-2 sentences per character: who they are and what their role in the story is. Do not add more detail than this.\n\n### Factions & Minor Characters\nFor any group or faction, name 3-5 individual members so the author has named characters for every scene. One sentence per person: who they are and what one thing they do that matters to the plot.\n\n---\n\n## III. WORLDBUILDING CODEX\n\n### Locations\nList every location needed. One sentence each: what it is and its narrative function.\n\n### Objects & Artifacts\nList every significant object. One sentence each: what it is and why it matters.\n\n### Magic System\n4-6 bullet points covering: what the magic is, who carries it, how it activates, what it costs, and one rule that creates narrative complication.\n\n---\n\n## IV. FAIRY TALE MAPPING\nA two-column table. Column headers: FAIRY TALE ELEMENT | MODERN EQUIVALENT.\n8-10 rows. No third column. No explanation. The comparison should be self-evident.\n\n---\n\n## V. OUTLINE PLAN & IMPLEMENTATION NOTES\n\nWrite one short paragraph per item below. Each paragraph should flag what the outline needs to figure out and raise the key questions it will need to answer — but do not answer them. Do not describe specific scenes, character realizations, or structural choices. Those belong in the outline workflow.\n\n**The Inciting Incident:** Identify the two or three events that set the story in motion and flag whether they arrive simultaneously or are staggered. Raise the question of what the protagonist already suspects versus what she is seeing clearly for the first time.\n\n**The Midpoint Shift:** Identify what changes at the midpoint — in the protagonist's goal, her relationship to the magic, and her relationship to the love interest. Flag what event or discovery forces this shift without describing the scene itself.\n\n**The Climactic Choice:** Name the two or more options available to the protagonist at the climax and flag what each one costs her. Do not resolve the choice. Note any structural factors — a governance review, a deadline, a witness — that will shape how the choice is framed.\n\n**The Irreversible Cost:** Flag what the protagonist cannot recover even if she wins. Identify which secondary character is most at risk of paying a price on her behalf and note that the outline must deliver this cost fully rather than soften it.\n\n**The Romance Arc:** Flag the sequence the outline must protect — what must be established before romantic feeling is earned — and note any structural complication in the love interest's position that the outline cannot resolve too early.\n\n**The Magic System:** Flag the two or three moments where the magic must do specific narrative work rather than atmospheric work, and note what the outline will need to decide about the cost the protagonist pays for engaging with it.\n\n---\n\nYou may add other details that complete the dossier. This is fine.",
          "options": {
            "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1904,
          896
        ],
        "id": "b7ed8641-ef33-4558-b6cb-e5ca95b01ee0",
        "name": "Complete Story Dossier"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1904,
          1072
        ],
        "id": "defe66ef-587c-49cc-beed-f5fe22c54113",
        "name": "Complete Story Dossier Model",
        "credentials": {
          "openRouterApi": {
            "id": "VNgbdBR86ZkDETr5",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<premise>\n{{ $('Pick the Best').item.json.output }}\n</premise>\n\n<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<plot_template>\n{{ $('Fetch Plot Template').item.json.content }}\n</plot_template>\n\n<story_dossier>\n{{ $('Complete Story Dossier').item.json.output }}\n</story_dossier>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nGiven the above templates and the story dossier for the premise, critique the dossier based on:\n\n- **Logical consistency** — does the premise hold up, even as magical realism? Are there gaps or contradictions?\n- **Originality within tropes** — does it honor the fairy tale source while feeling fresh? Does it maintain the correct genre tropes from the guides?\n- **Potential emotional impact** — does this story have the gut-punch moments that make readers stay up too late?\n- **Fairy tale fidelity** — does the modern mapping honor the specific bones of the source tale, not just its surface?\n\nThen create a plan to improve the dossier. Do NOT rewrite the dossier. Only give suggestions on how to improve it, with specific examples of what you would change and why.",
          "options": {
            "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          2160,
          896
        ],
        "id": "803ea9fa-33f3-4abb-952c-54dd86d8bdfe",
        "name": "Dossier Critique"
      },
      {
        "parameters": {
          "model": "openai/gpt-5.2",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2160,
          1072
        ],
        "id": "5df53060-f59f-42df-852b-b2c1f97d293f",
        "name": "Dossier Critique Model",
        "credentials": {
          "openRouterApi": {
            "id": "VNgbdBR86ZkDETr5",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=<premise>\n{{ $('Pick the Best').item.json.output }}\n</premise>\n\n<story_dossier>\n{{ $('Complete Story Dossier').item.json.output }}\n</story_dossier>\n\n<improvement_plan>\n{{ $('Dossier Critique').item.json.output }}\n</improvement_plan>\n\n<author_inputs>\nFairy Tale: {{ $('Book Brain Dump Form').item.json['Which fairy tale is this retelling?'] }}\nCity Preference: {{ $('Book Brain Dump Form').item.json['City preference (optional — leave blank and the AI will choose)'] || 'No preference' }}\nAdditional Notes: {{ $('Book Brain Dump Form').item.json['Anything specific you want in this book (optional)'] || 'None' }}\n</author_inputs>\n\nUsing the text of the <story_dossier> and the <improvement_plan>, implement the suggestions from the improvement plan into the dossier. Only implement the suggested changes, and do not change anything else about the original dossier. Reproduce the entire dossier with the suggested changes made.",
          "options": {
            "systemMessage": "You are a story architect for the \"Make It Black. Make It Modern.\" series — fairy tale retellings starring Black women protagonists in contemporary American cities.\n\nCULTURAL AUTHENTICITY RULES — apply these at all times, without exception:\n\nNAMES: Black Americans have the full range of American names. Do not default to stereotypically \"Black\" names. Never use: Marcus, Destiny, Unique, Latasha, DeShawn, Jamal, Keisha, Shaniqua, or similar. Give characters names that feel like real people, not casting calls. Think: Diane, Renee, Colette, Nina, Adrienne, Curtis, Warren, Gregory, James.\n\nAVOID STEREOTYPING IN: clothing descriptions, hair descriptions, food references, neighborhood choices, music references, speech patterns, and relationship dynamics. Black women in 2025 are attorneys, architects, chefs, surgeons, curators, executives. They live in brownstones, suburbs, high-rises, and farmhouses. They are not a monolith.\n\nWhen in doubt, write a specific, fully realized human being — not a representative of a demographic."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          2448,
          896
        ],
        "id": "09306b1a-f5ff-4e1b-9b08-f7445a5aa520",
        "name": "Dossier Rewrite"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-4.6",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2416,
          1072
        ],
        "id": "d4e06935-2fdc-40e9-9c99-acce0e6ee15e",
        "name": "Dossier Rewrite Model",
        "credentials": {
          "openRouterApi": {
            "id": "VNgbdBR86ZkDETr5",
            "name": "OpenRouter account"
          }
        }
      }
    ],
    "connections": {
      "Book Brain Dump Form": {
        "main": [
          [
            {
              "node": "📄 DOC IDs — UPDATE HERE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📄 DOC IDs — UPDATE HERE": {
        "main": [
          [
            {
              "node": "Fetch Trope Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Trope Template": {
        "main": [
          [
            {
              "node": "Fetch Plot Template",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Plot Template": {
        "main": [
          [
            {
              "node": "Brainstorm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Dossier to Google Doc": {
        "main": [
          []
        ]
      },
      "Brainstorm": {
        "main": [
          [
            {
              "node": "Pick the Best",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pick the Best": {
        "main": [
          [
            {
              "node": "Complete Story Dossier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Complete Story Dossier": {
        "main": [
          [
            {
              "node": "Dossier Critique",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dossier Critique": {
        "main": [
          [
            {
              "node": "Dossier Rewrite",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dossier Rewrite": {
        "main": [
          [
            {
              "node": "Save Dossier to Google Doc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brainstorm Model": {
        "ai_languageModel": [
          [
            {
              "node": "Brainstorm",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Pick the Best Model": {
        "ai_languageModel": [
          [
            {
              "node": "Pick the Best",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Complete Story Dossier Model": {
        "ai_languageModel": [
          [
            {
              "node": "Complete Story Dossier",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Dossier Critique Model": {
        "ai_languageModel": [
          [
            {
              "node": "Dossier Critique",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Dossier Rewrite Model": {
        "ai_languageModel": [
          [
            {
              "node": "Dossier Rewrite",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "ShaRhanda Lawson",
    "name": "Version 29533996",
    "description": "prompt fixes",
    "autosaved": true
  },
  "tags": []
}