wf2---dossier-to-full-outline-.json
{
  "updatedAt": "2026-02-28T03:08:11.771Z",
  "createdAt": "2026-02-27T03:27:17.227Z",
  "id": "HalYLq_tpPq5mHdUWDNpm",
  "name": "WF2 - Dossier to Full Outline",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Make It Black. Make It Modern. — Story Outline",
        "formDescription": "Generate characters, worldbuilding, and a chapter outline from your story dossier.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Book Title",
              "placeholder": "e.g. Cinderblock",
              "requiredField": true
            },
            {
              "fieldLabel": "Generate Characters & Worldbuilding?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes — Generate new character and worldbuilding docs"
                  },
                  {
                    "option": "No — Docs already exist, go straight to outlining"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Chapters to Outline",
              "placeholder": "e.g. Just Chapter 1, or Chapters 1-5, or All 30 chapters",
              "requiredField": true
            },
            {
              "fieldLabel": "Author Notes",
              "fieldType": "textarea",
              "placeholder": "Anything you want to flag or emphasize before the AI builds. Optional."
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "useWorkflowTimezone": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -592,
        400
      ],
      "id": "0fcfd245-b938-473f-b7be-22ad2b84dd9c",
      "name": "Story Outline Form",
      "webhookId": "fb383b76-7388-46ef-93c4-4133abb31093"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "TROPE_TEMPLATE_DOC_ID",
              "value": "168KxD6S5j1e3DgOaaFdSfq_-r2man-x8Ll8rEnenPUU",
              "type": "string",
              "id": "447e9377-2ce5-40bd-b3e2-04c9b8c9746a"
            },
            {
              "name": "PLOT_TEMPLATE_DOC_ID",
              "value": "1dqn0dBx2X5rcn5xGhp41hJ9aTpYleKhiXlmzSmy02W4",
              "type": "string",
              "id": "5ac61ad9-45c8-4e9a-ba38-d93c519dff3d"
            },
            {
              "name": "CHARACTER_TEMPLATE_DOC_ID",
              "value": "1AD358QVe8-4dQI75qI0EhhkEX4gbC8l4e-Sb1d_R9y0",
              "type": "string",
              "id": "ee0ed487-2bad-4c7b-b3ec-87bf3f414231"
            },
            {
              "name": "WORLDBUILDING_TEMPLATE_DOC_ID",
              "value": "1XnPC9wzz96SLTzW8mNu3bi--729CbtLTH36nQWhvMoQ",
              "type": "string",
              "id": "02ff1818-dce7-45b6-9258-00c52f666bc5"
            },
            {
              "name": "DOSSIER_DOC_ID",
              "value": "1yKk3nMpA5sTNp78Pr0sMw_tJn0q9PgcJBQn1quj5KVw",
              "type": "string",
              "id": "09406112-1c91-450d-a675-188b46c7084d"
            },
            {
              "name": "CHARACTER_OUTPUT_DOC_ID",
              "value": "1ZfzCqByRvXQ735QiWE43L3-b1fONT8XD6_HFzaAFwX0",
              "type": "string",
              "id": "1460b8ae-f994-4554-b454-db0e9841c850"
            },
            {
              "name": "WORLDBUILDING_OUTPUT_DOC_ID",
              "value": "1u1SBEwpgs_rVhdoMm01CF2bV8Lp5qIv1Aymg4dbojis",
              "type": "string",
              "id": "c4f2a69f-ad65-4b03-939e-a2ac50cb37e2"
            },
            {
              "name": "OUTLINE_OUTPUT_DOC_ID",
              "value": "1y1qaarFohib6EgBZPvdJ_iz8c9t3P3qdQCJSKLGO7u0",
              "type": "string",
              "id": "a0cafd8a-dbc4-4290-a40d-3d03d7b2183b"
            },
            {
              "id": "c93370ef-b95f-4a38-bc1f-2df83eeb9cca",
              "name": "OUTLINING_TEMPLATE_DOC_ID",
              "value": "1T3lwH6FCsS6afXd9TT4AB_LY9XIVByKRRs-N9HFWrc4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        400
      ],
      "id": "4ba0e965-41f1-45a0-bf78-ba93f9c73a40",
      "name": "📄 DOC IDs — UPDATE HERE"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.TROPE_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -64,
        0
      ],
      "id": "b795266d-b2a1-481b-9477-487d45d4d6ef",
      "name": "Fetch Trope Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.PLOT_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -64,
        160
      ],
      "id": "d7d75f01-f98b-4ba0-a16e-5b9f4cc34981",
      "name": "Fetch Plot Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.CHARACTER_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -64,
        320
      ],
      "id": "8a6d0b2e-ef61-4145-8543-f4fb472af6db",
      "name": "Fetch Character Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.WORLDBUILDING_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -64,
        480
      ],
      "id": "279b48c5-a29d-4c1d-a013-8b81df18ea3d",
      "name": "Fetch Worldbuilding Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.DOSSIER_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -64,
        640
      ],
      "id": "803f89ab-14ba-4437-a993-ef232787a9c6",
      "name": "Fetch Dossier",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.CHARACTER_OUTPUT_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d3a050bb-34f0-4cd7-a710-c6f2f214b2f3",
      "name": "Fetch Character Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.WORLDBUILDING_OUTPUT_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        144
      ],
      "id": "557c23fb-87e3-489a-9d39-d53c812e3b8d",
      "name": "Fetch Worldbuilding Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.OUTLINE_OUTPUT_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        464
      ],
      "id": "791be814-3d57-47b3-856a-8effb95d761c",
      "name": "Fetch Outline Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "fc20f67a-ccf2-4233-a9ce-e49fb66a4acf",
              "leftValue": "={{ $('Story Outline Form').item.json['Generate Characters & Worldbuilding?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        640
      ],
      "id": "360eefb2-8c24-41a6-acac-8f5c450d03ad",
      "name": "Generate Characters & Worldbuilding?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<character_template>\n{{ $('Fetch Character Template').item.json.content }}\n</character_template>\n\n<dossier>\n{{ $('Fetch Dossier').item.json.content }}\n</dossier>\n\n<author_notes>\n{{ $('Story Outline Form').item.json['Author Notes'] }}\n</author_notes>\n\n<instructions>\nGiven the above braindump information, genre tropes, and story dossier, I want you to create a fleshed-out list of all important characters needed specifically for this book.\n\nFor each major character, I want you to have the following:\n1. A physical description\n2. Their primary role in the story (i.e. protagonist, antagonist, love interest, henchman, etc.)\n3. Their most appropriate Myers-Briggs profile, Enneagram, and Clifton Strengths.\n4. Their core motivation, what is their heart's desire that is driving them most of the time?\n5. A brief explanation of their background before the start of the story\n6. An interesting quirk, hobby, or something that makes them unique. This should be something that doesn't necessarily fit with the story, but makes the character more interesting.\n7. Dialogue style, how do they talk?\n8. Dialogue examples, I want specific examples of dialogue they might give in relaxed, stressful, thoughtful and exciting situations. These dialogue samples do not have to be part of this particular story, they are just to show off the vocal manerisms of the character.\n\nFor minor characters, just have 1-2 sentences for each that gives us a brief understanding of their background, their core desire, and their relationship to the plot.\n\nFormat your list using Markdown in the following format:\n\n## NAME OF BOOK HERE\n\n### Major Character Name:\n* Physical Description: [insert details here]\n* Role in Story: [insert details here]\n* Personality Profiles: [insert details here]\n* Core Motivation: [insert details here]\n* Background: [insert details here]\n* Quirk: [insert details here]\n* Dialogue Style: [insert details here]\n* Dialogue Samples: [insert details here]\n\n[continue this for all major characters]\n\n### Minor Characters:\n* [MINOR CHARACTER NAME]: [1-2 sentence description here]\n* [MINOR CHARACTER NAME]: [1-2 sentence description here]\n[continue for all minor characters]\n\n\nOnly include the asked-for character details. Do not add any preamble, commentary, or anything other than what I've asked for above.\n</instructions>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        496,
        112
      ],
      "id": "5081205f-4c40-46cb-8cdb-38886f45ed81",
      "name": "Characters"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        304
      ],
      "id": "567228d1-b8b9-4042-911b-5a0782555049",
      "name": "Characters Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior developmental editor with expertise in commercial fiction for Black women readers.\n\nYou have received a character roster for a new book in the \"Make It Black. Make It Modern.\" series.\n\nHere is the character roster:\n{{ $json.output }}\n\nCritique this roster against the following criteria:\n\n1. LAZY SHORTHAND TEST: Which details could appear in any book about a Black woman, vs. which are specific to THIS story and THIS character? Flag every generic detail by name.\n\n2. WOUND SPECIFICITY: Is each character's wound a specific event or pattern, or just a category? \"Abandonment\" is a category. \"Her mother left the night after her twelfth birthday show and never explained why\" is specific. Flag every wound that stays at the category level.\n\n3. ARC INTEGRITY: Does each character have a genuine transformation, or just a position change? Does the protagonist's arc answer the question: what does she have to lose in order to win?\n\n4. VOICE DIFFERENTIATION: Could you tell these characters apart from their dialogue samples alone? Flag any who sound like the same person.\n\n5. STORY SERVICE: Does each supporting character exist to create specific friction for the protagonist, or are they filling a role without pressure?\n\nBe specific. Name the exact line or detail that fails. Explain what it should do instead.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        112
      ],
      "id": "9c766776-f244-41d0-af7c-ce1041f5185b",
      "name": "Critique Characters"
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        304
      ],
      "id": "59975ad5-16ab-475a-b59d-9e375851f101",
      "name": "Critique Characters Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a developmental editor specializing in adult commercial fiction for Black women readers.\n\nYou have two documents:\n\n1. The character roster (first draft):\n{{ $('Characters').item.json.output }}\n\n2. The editorial critique:\n{{ $json.output }}\n\nRewrite the complete character roster, implementing every critique note. Do not just patch — where the critique identifies a generic detail, replace it with something earned by this specific story. Where wounds are categories, make them events. Where voices sound alike, differentiate them.\n\nMaintain the same Markdown format as the original.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1104,
        112
      ],
      "id": "607539ce-7304-4671-a757-1c9a8ecec0b2",
      "name": "Rewrite Characters"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "id": "a7893090-140a-46d8-95ec-f63092827d6a",
      "name": "Rewrite Characters Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.CHARACTER_OUTPUT_DOC_ID }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{$('Rewrite Characters').item.json.output}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1408,
        112
      ],
      "id": "d838ade5-b1ef-4002-8c21-34661faff6c9",
      "name": "Write to Character Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<genre_tropes>\n{{ $('Fetch Trope Template').item.json.content }}\n</genre_tropes>\n\n<worldbuilding_template>\n{{ $('Fetch Worldbuilding Template').item.json.content }}\n</worldbuilding_template>\n\n<dossier>\n{{ $('Fetch Dossier').item.json.content }}\n</dossier>\n\n<author_notes>\n{{ $('Story Outline Form').item.json['Author Notes'] }}\n</author_notes>\n\n<instructions>\nGiven the above braindump, genre tropes, and dossier, I want you to create a fleshed-out list of all important setting and worldbuilding elements needed specifically for this book.\n\nI want you to organize all worldbuilding elements into categories. Which categories you use will depend on the genre and what you already have available to you in the outline and dossier, however, some of the categories you MIGHT use include:\n\n-High-level Worldbuilding\n-Setting(s)/Locations\n-Magic Systems/Technology\n-Groups/Races\n-Population/Politics\n-Culture\n-History/Lore\n-Sensory Texture\n-Fairy Tale Layer\n\nDo not use a category if it doesn't apply to the book/series, or if there aren't elements in the callsheet that apply to that category.\n\nFormat your list using Markdown in the following format:\n\n## NAME OF BOOK HERE\n\n### WORLDBUILDING CATEGORY HERE:\n* NAME OF WORLDBUILDING ELEMENT: [insert 3-4 sentences here, make the details specific]\n* NAME OF WORLDBUILDING ELEMENT: [insert 3-4 sentences here, make the details specific]\n* NAME OF WORLDBUILDING ELEMENT: [insert 3-4 sentences here, make the details specific]\n\n[continue for each worldbuilding element in this category]\n\n### NEXT WORLDBUILDING CATEGORY HERE:\n* NAME OF WORLDBUILDING ELEMENT: [insert 3-4 sentences here, make the details specific]\n* NAME OF WORLDBUILDING ELEMENT: [insert 3-4 sentences here, make the details specific]\n* NAME OF WORLDBUILDING ELEMENT: [insert 3-4 sentences here, make the details specific]\n\n[continue for each worldbuilding element in this category]\n\n[continue for each worldbuilding category]\n\nOnly include the asked-for worldbuilding details. Do not add any preamble, commentary, or anything other than what I've asked for above.\n</instructions>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1280,
        496
      ],
      "id": "d74551d1-d257-45c3-b95e-2bf2b4797a12",
      "name": "Worldbuilding"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1280,
        656
      ],
      "id": "7e3d5a04-0c01-4498-84ab-f01f78381611",
      "name": "Worldbuilding Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior developmental editor with expertise in commercial fiction for Black women readers.\n\nYou have received a worldbuilding document for a new book in the \"Make It Black. Make It Modern.\" series.\n\nHere is the worldbuilding document:\n{{ $json.output }}\n\nCritique it against the following criteria:\n\n1. LAZY SHORTHAND TEST: Which elements are specific to THIS world vs. which could appear in any story set in this industry or city? Flag every generic entry by name.\n\n2. MAGIC INTEGRATION: Is the magic system connected to the protagonist's emotional wound and arc, or is it applied as an overlay? The magic should be thematically inseparable from what she's fighting for or afraid of.\n\n3. TEXTURE VS. ATMOSPHERE: Does each setting feel real and lived-in, or is it described in terms of mood and feeling? Flag entries that tell us how the place feels instead of what is physically there.\n\n4. CHARACTER COHERENCE: Does this world specifically produce the characters we've already built? Would these exact characters emerge from this exact world?\n\n5. STORY FUNCTIONALITY: Does each worldbuilding element create a specific plot constraint or opportunity, or is it decorative?\n\nBe specific. Name the exact entry that fails. Explain what it should do instead.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1584,
        496
      ],
      "id": "4c904477-8718-4fc6-a0d7-c12a17b57145",
      "name": "Critique Worldbuilding"
    },
    {
      "parameters": {
        "model": "openai/gpt-5.2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1584,
        656
      ],
      "id": "4db9a0ce-3124-4808-89db-c0d87cc5fd6e",
      "name": "Critique Worldbuilding Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a developmental editor specializing in adult commercial fiction for Black women readers.\n\nYou have two documents:\n\n1. The worldbuilding document (first draft):\n{{ $('Worldbuilding').item.json.output }}\n\n2. The editorial critique:\n{{ $json.output }}\n\nRewrite the complete worldbuilding document, implementing every critique note. Where entries are generic, replace them with elements specific to this story's world. Where magic floats disconnected from character wound, anchor it. Where settings are atmospheric, make them physical and specific.\n\nMaintain the same Markdown format as the original.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1904,
        496
      ],
      "id": "645e7821-8060-4313-806f-5488ce855dfd",
      "name": "Rewrite Worldbuilding"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1904,
        656
      ],
      "id": "0c903595-83fd-440c-993d-e7dee6d5aa42",
      "name": "Rewrite Worldbuilding Model",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.WORLDBUILDING_OUTPUT_DOC_ID }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{$('Rewrite Worldbuilding').item.json.output}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2224,
        496
      ],
      "id": "4ad91f5f-f7f6-4de6-8336-39027ceb1d18",
      "name": "Write to Worldbuilding Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a developmental editor and story architect specializing in adult commercial fiction for Black women readers.\nYou are building a chapter outline for a new book in the \"Make It Black. Make It Modern.\" series — fairy tale retellings with Black women protagonists in modern American cities.\n\n<chapters_to_outline>\n{{ $('Story Outline Form').item.json['Chapters to Outline'] }}\n</chapters_to_outline>\n<outline_structure>\n{{ $('Fetch Outlining Template').item.json.content }}\n</outline_structure>\n<dossier>\n{{ $('Fetch Dossier').item.json.content }}\n</dossier>\n<characters>\n{{ $('Rewrite Characters').item.json.output }}\n</characters>\n<worldbuilding>\n{{ $('Rewrite Worldbuilding').item.json.output }}\n</worldbuilding>\n<story_so_far>\n{{ $('Fetch Outline Doc').item.json.content }}\n</story_so_far>\n<author_notes>\n{{ $('Story Outline Form').item.json['Author Notes'] || 'None' }}\n</author_notes>\n\n<instructions>\nBefore writing anything, read the dossier as follows: treat Section IV (Fairy Tale Mapping) as the structural skeleton and Section V (Outline Plan & Implementation Notes) as the execution brief. Both take priority over the synopsis when they conflict.\n\nUsing the outline_structure document, look up each chapter in chapters_to_outline by number and note its named beat before writing anything.\n\nIf story_so_far contains existing outline content, continue directly from where it ends. Maintain consistency with all established events, character decisions, and world details.\n\nOpen each chapter entry with:\nCHAPTER [N] — [BEAT NAME]\n\nThen write the outline beneath it. Each chapter entry must be specific enough that a ghostwriter could draft the chapter without asking questions — covering what happens, what the protagonist wants and what blocks her, what emotional beat lands, what has changed by the end, and the closing hook stated concretely. No vague motion: never write \"tension rises\" or \"she realizes something important\" without immediately specifying what.\n\nTrack across all chapters whether Celeste's name is attached to her food or absent. This is the underlying dramatic spine of the story. The moment her name appears in public connection with her own cooking for the first time is the story's emotional peak — treat every chapter before that as building toward it.\n\nThe wrist injury is a continuous ticking clock. It must be physically present in any scene involving cooking — not mentioned once and dropped. Show its cost accumulating.\n\nThe worldbuilding and magic system must function as specific plot mechanics, not atmospheric backdrop.\n\nFor fairy tale retellings: at each beat, consider what Cinderella is doing at this same moment in its own arc. Let that pressure the chapter, even if it's invisible to the reader.\n\nFormat using Markdown:\n### Chapter [N] — [Beat Name]: [Chapter Title]\n[200-250 word description in 1-3 paragraphs, written as though handing it to a ghostwriter. All criteria above must be addressed within the prose of the paragraph — do not use sub-bullets or sub-headers inside the chapter entry.]\n\n[continue for all chapters specified]\n\nOnly output the chapter outlines. No preamble, no commentary.\n</instructions>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2416,
        496
      ],
      "id": "e3b1cb92-4820-4bd5-9f15-3b909610cb32",
      "name": "Outline (Full Run)"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2416,
        656
      ],
      "id": "2d3aa819-9476-41a0-9670-0e07891ae003",
      "name": "Outline Model (Full Run)",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.OUTLINE_OUTPUT_DOC_ID }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{$('Outline (Full Run)').item.json.output}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2736,
        496
      ],
      "id": "24d0a99f-89bd-4b01-84f3-c232e97ff5e3",
      "name": "Write to Outline Doc (Full Run)",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a developmental editor and story architect specializing in adult commercial fiction for Black women readers.\nYou are building a chapter outline for a new book in the \"Make It Black. Make It Modern.\" series — fairy tale retellings with Black women protagonists in modern American cities.\n\n<chapters_to_outline>\n{{ $('Story Outline Form').item.json['Chapters to Outline'] }}\n</chapters_to_outline>\n<outline_structure>\n{{ $('Fetch Outlining Template').item.json.content }}\n</outline_structure>\n<dossier>\n{{ $('Fetch Dossier').item.json.content }}\n</dossier>\n<characters>\n{{ $('Fetch Character Doc').item.json.content }}\n</characters>\n<worldbuilding>\n{{ $('Fetch Worldbuilding Doc').item.json.content }}\n</worldbuilding>\n<story_so_far>\n{{ $('Fetch Outline Doc').item.json.content }}\n</story_so_far>\n<author_notes>\n{{ $('Story Outline Form').item.json['Author Notes'] || 'None' }}\n</author_notes>\n\n<instructions>\nBefore writing anything, read the dossier as follows: treat Section IV (Fairy Tale Mapping) as the structural skeleton and Section V (Outline Plan & Implementation Notes) as the execution brief. Both take priority over the synopsis when they conflict.\n\nUsing the outline_structure document, look up each chapter in chapters_to_outline by number and note its named beat before writing anything.\n\nIf story_so_far contains existing outline content, continue directly from where it ends. Maintain consistency with all established events, character decisions, and world details.\n\nOpen each chapter entry with:\nCHAPTER [N] — [BEAT NAME]\n\nThen write the outline beneath it. Each chapter entry must be specific enough that a ghostwriter could draft the chapter without asking questions — covering what happens, what the protagonist wants and what blocks her, what emotional beat lands, what has changed by the end, and the closing hook stated concretely. No vague motion: never write \"tension rises\" or \"she realizes something important\" without immediately specifying what.\n\nTrack across all chapters whether Celeste's name is attached to her food or absent. This is the underlying dramatic spine of the story. The moment her name appears in public connection with her own cooking for the first time is the story's emotional peak — treat every chapter before that as building toward it.\n\nThe wrist injury is a continuous ticking clock. It must be physically present in any scene involving cooking — not mentioned once and dropped. Show its cost accumulating.\n\nThe worldbuilding and magic system must function as specific plot mechanics, not atmospheric backdrop.\n\nFor fairy tale retellings: at each beat, consider what Cinderella is doing at this same moment in its own arc. Let that pressure the chapter, even if it's invisible to the reader.\n\nFormat using Markdown:\n### Chapter [N] — [Beat Name]: [Chapter Title]\n[200-250 word description in 1-3 paragraphs, written as though handing it to a ghostwriter. All criteria above must be addressed within the prose of the paragraph — do not use sub-bullets or sub-headers inside the chapter entry.]\n\n[continue for all chapters specified]\n\nOnly output the chapter outlines. No preamble, no commentary.\n</instructions>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        464,
        496
      ],
      "id": "6a45263c-8a62-43d7-b8ed-f78718e011df",
      "name": "Outline (Skip Gen)"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        688
      ],
      "id": "f83fc5e4-36e3-4c0f-a126-9cd3d49f7c94",
      "name": "Outline Model (Skip Gen)",
      "credentials": {
        "openRouterApi": {
          "id": "VNgbdBR86ZkDETr5",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.OUTLINE_OUTPUT_DOC_ID }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{$('Outline (Skip Gen)').item.json.output}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        848,
        496
      ],
      "id": "bad469c2-405b-4a5c-b739-d83133ed2b61",
      "name": "Write to Outline Doc (Skip Gen)",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('📄 DOC IDs — UPDATE HERE').item.json.OUTLINING_TEMPLATE_DOC_ID }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        320
      ],
      "id": "9a678ca8-6273-4432-a1a7-512c2aaee733",
      "name": "Fetch Outlining Template",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "0icadRz5XxXy9hB4",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "connections": {
    "Story Outline Form": {
      "main": [
        [
          {
            "node": "📄 DOC IDs — UPDATE HERE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 DOC IDs — UPDATE HERE": {
      "main": [
        [
          {
            "node": "Fetch Trope Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trope Template": {
      "main": [
        [
          {
            "node": "Fetch Plot Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Plot Template": {
      "main": [
        [
          {
            "node": "Fetch Character Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Character Template": {
      "main": [
        [
          {
            "node": "Fetch Worldbuilding Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Worldbuilding Template": {
      "main": [
        [
          {
            "node": "Fetch Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dossier": {
      "main": [
        [
          {
            "node": "Fetch Character Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Character Doc": {
      "main": [
        [
          {
            "node": "Fetch Worldbuilding Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Worldbuilding Doc": {
      "main": [
        [
          {
            "node": "Fetch Outlining Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Outline Doc": {
      "main": [
        [
          {
            "node": "Generate Characters & Worldbuilding?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Characters & Worldbuilding?": {
      "main": [
        [
          {
            "node": "Characters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Outline (Skip Gen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Characters": {
      "main": [
        [
          {
            "node": "Critique Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Characters Model": {
      "ai_languageModel": [
        [
          {
            "node": "Characters",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Critique Characters": {
      "main": [
        [
          {
            "node": "Rewrite Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critique Characters Model": {
      "ai_languageModel": [
        [
          {
            "node": "Critique Characters",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Characters": {
      "main": [
        [
          {
            "node": "Write to Character Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Characters Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite Characters",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write to Character Doc": {
      "main": [
        [
          {
            "node": "Worldbuilding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worldbuilding": {
      "main": [
        [
          {
            "node": "Critique Worldbuilding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worldbuilding Model": {
      "ai_languageModel": [
        [
          {
            "node": "Worldbuilding",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Critique Worldbuilding": {
      "main": [
        [
          {
            "node": "Rewrite Worldbuilding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critique Worldbuilding Model": {
      "ai_languageModel": [
        [
          {
            "node": "Critique Worldbuilding",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Worldbuilding": {
      "main": [
        [
          {
            "node": "Write to Worldbuilding Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Worldbuilding Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite Worldbuilding",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Write to Worldbuilding Doc": {
      "main": [
        [
          {
            "node": "Outline (Full Run)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline (Full Run)": {
      "main": [
        [
          {
            "node": "Write to Outline Doc (Full Run)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Model (Full Run)": {
      "ai_languageModel": [
        [
          {
            "node": "Outline (Full Run)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Outline (Skip Gen)": {
      "main": [
        [
          {
            "node": "Write to Outline Doc (Skip Gen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outline Model (Skip Gen)": {
      "ai_languageModel": [
        [
          {
            "node": "Outline (Skip Gen)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Outlining Template": {
      "main": [
        [
          {
            "node": "Fetch Outline Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "613c3fec-d576-4364-92a4-fc871322580a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-27T03:27:17.232Z",
      "createdAt": "2026-02-27T03:27:17.232Z",
      "role": "workflow:owner",
      "workflowId": "HalYLq_tpPq5mHdUWDNpm",
      "projectId": "eaD0haLSQbgJ93Hf"
    }
  ],
  "activeVersion": null,
  "tags": []
}